#slide2.slide(data-anchor="1960")
	.paraslide
		.layer-box.layer 
		.layer-60.layer
		.layer-text-1.layer
			article
				h3 Были времена когда всё было иначе, но&nbsp;наш клуб был таким&nbsp;же
				include fish-1.pug
		.layer-img.layer
			img(src="/resources/img/photo/old-photo-3.png", alt="")

#slide2a.slide(data-anchor="1960-1")
	.paraslide
		.layer-text-2.layer
			include fish-2.pug


//- #slide2a.slide(data-anchor="1960-2")
//- 	.paraslide
//- 		#layer-box.layer 
//- 		//- #layer-img.layer
//- 		//- 	img(src="/resources/img/photo/old-photo-3.png", alt="")
//- 		#lay5.layer
			include fish-2.pug

//- #slide2a.slide(data-anchor="1960-3")
//- 	.paraslide
//- 		#layer-box.layer 
//- 		//- #layer-img.layer
//- 		//- 	img(src="/resources/img/photo/old-photo-3.png", alt="")
//- 		#lay5.layer
				include fish-1.pug

//- #slide2a.slide(data-anchor="1960-4")
//- 	.paraslide
//- 		//- #layer-video.layer
//- 		#lay5.layer
//- 			div
				include fish-1.pug
//- 		//- #layer-next.layer
