#slide2.slide(data-anchor="1960-1", data-parent="1960" data-index="1")
	.paraslide
		.layer-box-1.layer 
		.layer-60-1.layer
		.layer-text-1.layer
			article
				h3 Были времена когда всё было иначе, но&nbsp;наш клуб был таким&nbsp;же
				include fish-1.pug
		.layer-img-1.layer
			img(src="/resources/img/photo/old-photo-3.png", alt="")

#slide2a.slide(data-anchor="1960-2", data-parent="1960" data-index="2")
	.paraslide
		.layer-text-2.layer
			include fish-2.pug

#slide2b.slide(data-anchor="1960-3", data-parent="1960" data-index="3")
	.paraslide
		.layer-box-2.layer 
		.layer-60-2.layer
		.layer-text-3.layer
			include fish-1.pug
		.layer-img-2.layer
			img(src="/resources/img/photo/old-photo-4.jpg", alt="")

#slide2b.slide(data-anchor="1960-4", data-parent="1960" data-index="4")
	.paraslide
		.layer-text-2.layer
			article
				include fish-1.pug

#slide2c.slide(data-anchor="1960-5", data-parent="1960" data-index="5").last-slide
	.paraslide
		.layer-box-3.layer 
		.layer-60-3.layer
		.layer-70-0.layer
		.layer-text-3.layer
			article
				include fish-1.pug
		.layer-video-1.layer
			.videoplayer-placeholder
		a.layer-next.layer
			span 1970
		

//- #slide2a.slide(data-anchor="1960-2")
//- 	.paraslide
//- 		#layer-box.layer 
//- 		//- #layer-img.layer
//- 		//- 	img(src="/resources/img/photo/old-photo-3.png", alt="")
//- 		#lay5.layer
			include fish-2.pug

//- #slide2a.slide(data-anchor="1960-3")
//- 	.paraslide
//- 		#layer-box.layer 
//- 		//- #layer-img.layer
//- 		//- 	img(src="/resources/img/photo/old-photo-3.png", alt="")
//- 		#lay5.layer
				include fish-1.pug

//- #slide2a.slide(data-anchor="1960-4")
//- 	.paraslide
//- 		//- #layer-video.layer
//- 		#lay5.layer
//- 			div
				include fish-1.pug
//- 		//- #layer-next.layer
