#slide2.slide(data-anchor="1960")
	.paraslide
		#layer-box.layer 
		#layer-60.layer
		#layer-text-1.layer
			article
				h3 Били времена когда всё было иначе, но наш клуб был таким же
				div
					p 10&nbsp;сентября 1969&nbsp;г. Касьянов Тадеуш Рафаилович вышел в&nbsp;свой сад на&nbsp;2-ой Бухвостовой улице в&nbsp;г.&nbsp;Москве, впервые надев кимоно с&nbsp;разрешения своего наставника, Алексея Борисовича Штурмина, первым и&nbsp;единственным учеником которого он являлся уже целый год. Именно эта дата считается Днём рождения Школы «СЭН’Э». Так&nbsp;как Тадеуш Рафаилович был мастером спорта по&nbsp;боксу и&nbsp;владел методическими навыками в&nbsp;области единоборств, он стал помогать Штурмину&nbsp;А.Б. проводить тренировки.
		#layer-img.layer
			img(src="/resources/img/photo/old-photo-3.png", alt="")

#slide2a.slide(data-anchor="1960-1")
	.paraslide
		#lay4.layer
			div
				p Сильно повлияло на становление методики преподавания каратэ в 70-х годах, знакомство и затем тесное сотрудничество с А.А. Харлампиевым, прямым учеником которого считает себя Тадеуш Рафаилович.
				p Спортсмены с «Маяковки» периодически проводили неофициальные спортивные встречи со «странствующими самураями» зарубежных школ каратэ и разрозненными группами их представителей в Москве, ни одну из встреч не проиграли, что укрепляло веру в правильность выбранного пути и закаляло характер.

//- #slide2a.slide(data-anchor="1960-2")
//- 	.paraslide
//- 		#layer-box.layer 
//- 		//- #layer-img.layer
//- 		//- 	img(src="/resources/img/photo/old-photo-3.png", alt="")
//- 		#lay5.layer
//- 			div
//- 				p Сильно повлияло на становление методики преподавания каратэ в 70-х годах, знакомство и затем тесное сотрудничество с А.А. Харлампиевым, прямым учеником которого считает себя Тадеуш Рафаилович.
//- 				p Спортсмены с «Маяковки» периодически проводили неофициальные спортивные встречи со «странствующими самураями» зарубежных школ каратэ и разрозненными группами их представителей в Москве, ни одну из встреч не проиграли, что укрепляло веру в правильность выбранного пути и закаляло характер.

//- #slide2a.slide(data-anchor="1960-3")
//- 	.paraslide
//- 		#layer-box.layer 
//- 		//- #layer-img.layer
//- 		//- 	img(src="/resources/img/photo/old-photo-3.png", alt="")
//- 		#lay5.layer
//- 			div
//- 				p В конце 70-х возникли предпосылки легализации каратэ в СССР. 13 ноября 1978 г. была создана Всесоюзная комиссия по каратэ, и был проведен 1-ый Всесоюзный аттестационный семинар тренеров-преподавателей. Руководителем семинара был назначен представитель Спорткомитета Шипилов А.А., а преподавателями были мастера Школы. На этом семинаре многие спортсмены, тренеры-преподаватели изъявили желание вступить в Школу и обучаться по ее методике.

//- #slide2a.slide(data-anchor="1960-4")
//- 	.paraslide
//- 		//- #layer-video.layer
//- 		#lay5.layer
//- 			div
//- 				p В конце 70-х возникли предпосылки легализации каратэ в СССР. 13 ноября 1978 г. была создана Всесоюзная комиссия по каратэ, и был проведен 1-ый Всесоюзный аттестационный семинар тренеров-преподавателей. Руководителем семинара был назначен представитель Спорткомитета Шипилов А.А., а преподавателями были мастера Школы. На этом семинаре многие спортсмены, тренеры-преподаватели изъявили желание вступить в Школу и обучаться по ее методике.
//- 		//- #layer-next.layer
