#slide2.slide(data-anchor="1960")
	.paraslide
		#lay1.layer Gray Box
		#lay2.layer Слой 2
		#lay3.layer
			img(src="/resources/img/photo/old-photo-3.png", alt="")

#slide2a.slide(data-anchor="1960-1")
	.paraslide
		#lay4.layer Слой 4
		#lay5.layer Слой 5
		#lay6.layer Слой 6

#slide2a.slide(data-anchor="1960-2")
	.paraslide
		#lay4.layer Слой 7
		#lay5.layer Слой 2
		#lay6.layer Слой 3

#slide2a.slide(data-anchor="1960-3")
	.paraslide
		#lay4.layer Слой 1
		#lay5.layer Слой 2
		#lay6.layer Слой 3

#slide2a.slide(data-anchor="1960-4")
	.paraslide
		#lay4.layer Слой 1
		#lay5.layer Слой 2
		#lay6.layer Слой 3

#slide2a.slide(data-anchor="1960-5")
	.paraslide
		#lay4.layer Слой 1
		#lay5.layer Слой 2
		#lay6.layer Слой 3