div
	p Сильно повлияло на&nbsp;становление методики преподавания каратэ в&nbsp;70-х годах, знакомство и затем тесное сотрудничество с&nbsp;А.А. Харлампиевым, прямым учеником которого считает себя Тадеуш Рафаилович.
	p Спортсмены с&nbsp;«Маяковки» периодически проводили неофициальные спортивные встречи со&nbsp;«странствующими самураями» зарубежных школ каратэ и&nbsp;разрозненными группами их&nbsp;представителей в&nbsp;Москве, ни&nbsp;одну из&nbsp;встреч не&nbsp;проиграли, что укрепляло веру в&nbsp;правильность выбранного пути и&nbsp;закаляло характер.