div
	p 10&nbsp;сентября 1969&nbsp;г. Касьянов Тадеуш Рафаилович вышел в&nbsp;свой сад на&nbsp;2-ой Бухвостовой улице в&nbsp;г.&nbsp;Москве, впервые надев кимоно с&nbsp;разрешения своего наставника, Алексея Борисовича Штурмина, первым и&nbsp;единственным учеником которого он являлся уже целый год.
	p Именно эта дата считается Днём рождения Школы «СЭН’Э». Так&nbsp;как Тадеуш Рафаилович был мастером спорта по&nbsp;боксу и&nbsp;владел методическими навыками в&nbsp;области единоборств, он стал помогать Штурмину&nbsp;А.Б. проводить тренировки.