.slide-section.history
	//- aside
	#history-gui.paraslider-gui

		header#timeline.paraslider-gui__header
			ol.time-line
				li
					a(href="#istorya/1960", data-value="1960") 1960
				li
					a(href="#istorya/1970", data-value="1970") 1970
				li
					a(href="#istorya/1980", data-value="1980") 1980
				li
					a(href="#istorya/1990", data-value="1990") 1990
				li
					a(href="#istorya/2000", data-value="2000") 2000
				li
					a(href="#istorya/2010", data-value="2010") 2010
				li
					a(href="#istorya/2020", data-value="2020") 2020
			.btn-container
				a.btn.btn-glass(href="#istorya") Вся история

		#history-bar.scrollbar
			ol
				li
				li
				li
				li
				li
			.toddler

	.history__banner
		.history__banner-text-wrapper
			.history__banner-text
				.monsto-title Исто
				.monsto-title рия
				h2 Интересные Факты из многолетней истории клуба
