include intro

include slides/1960/1.pug
include slides/1960/2.pug
include slides/1960/3.pug
include slides/1960/4.pug
include slides/1960/5.pug

include slides/1970/1.pug
include slides/1970/2.pug
include slides/1970/3.pug
include slides/1970/4.pug
include slides/1970/5.pug