#slide1.slide.slide_glass(data-scroll="true")
	.slide-section.about-2

		.flying-container
			.longread.scroll
				h3 История
				p <nobr>Каратэ-до</nobr> (путь пустой руки) это искусство, рожденное в&nbsp;Японии в&nbsp;начале ХХ&nbsp;века из&nbsp;боевых систем, развивавшихся в&nbsp;Китае, Корее и&nbsp;на&nbsp;Окинаве. Каратэ было создано как средство самообороны для людей, которым запрещалось иметь оружие. Средство, которое позволяло за&nbsp;счет приобретенных навыков и&nbsp;подручных средств противостоять физически более сильному и&nbsp;вооруженному противнику. В&nbsp;поединке каратист использует все части тела, но&nbsp;главное, он&nbsp;должен обладать мощным, решающим ударом (атэми), позволяющим быстро закончить схватку. Именно для постановки этого удара в&nbsp;тренировочный процесс введена практика разбивания твердых предметов (голова и&nbsp;бутылки к&nbsp;этому отношению не&nbsp;имеют).

				p Можно только догадываться почему в&nbsp;СССР не&nbsp;развивалось каратэ, а&nbsp;перечень единоборств с&nbsp;применением ударной техники начинался и&nbsp;заканчивался боксом. Скорее всего, основную роль сыграли «железный занавес», лишавший граждан внешних контактов, и&nbsp;нежелание лидеров компартии в&nbsp;критических ситуациях иметь дело с&nbsp;большим количеством трезвомыслящих людей, владеющих техникой ближнего боя.

				p Случай помог Алексею Борисовичу Штурмину. В&nbsp;1964 году в&nbsp;начале учебы он&nbsp;познакомился с&nbsp;аспирантом своего института&nbsp;— северокорейцем, который оказался инструктором по&nbsp;<nobr>квон-тху</nobr> (жёсткий стиль каратэ, применяемый армией и&nbsp;полицией). Через несколько лет тяжелых тренировок, перед возвращением на&nbsp;родину, наставник оценил уровень подготовки Алексея и&nbsp;вручил ему черный пояс мастера. В&nbsp;этом&nbsp;же году Алексей Борисович набирает первую небольшую группу учеников. Именно начало наработки методик тренировок в&nbsp;отечественной среде принято считать рождением нового стиля.

				p В&nbsp;этот период в&nbsp;школе под руководством А. Штурмина тренировался внесший огромный вклад в&nbsp;совершенствование стиля Т. Касьянов, известный скульптор А. Рукавишников народный художник, член Российской академии художеств, Виктор Пак, С. Шаповалов и&nbsp;другие.

				p В&nbsp;семидесятые годы стиль СЭНЭ получил дальнейшее мощное развитие. Первые соратники Алексея Борисовича вырастили несколько новых поколений инструкторов, увеличив количество занимающихся до&nbsp;десятков тысяч человек. Открылись филиалы в&nbsp;других городах и&nbsp;республиках СССР.

				p В&nbsp;1979 году усилиями лидера стиля в&nbsp;стране был проведен первый турнир по&nbsp;карате&nbsp;— чемпионат г.&nbsp;Москвы. В&nbsp;этом году создается Центральная Школа Каратэ под руководством А. Штурмина. Навыки и&nbsp;методы преподавания и&nbsp;ведения боя полученные от&nbsp;корейского наставника не&nbsp;могли не&nbsp;измениться пройдя через сотни российских бойцов, обладающих отличными от&nbsp;восточных народов физическими, психологическими и&nbsp;духовными качествами.

				p В&nbsp;начале <nobr>80-ых</nobr> годов в&nbsp;советском союзе карате было запрещено. Дело доходило до&nbsp;задержания нескольких инструкторов в&nbsp;процессе тренировок. Основная нагрузка по&nbsp;сохранению и&nbsp;развитию школы СЭНЭ легла на&nbsp;Касьянова Тадеуша. Удивительно, но&nbsp;в&nbsp;условиях полуподполья школа СЭНЭ получила мощное развитие. Десятки тысяч занимающихся по&nbsp;всей стране. С&nbsp;1985 года начали проводиться регулярные чемпионаты школы. Были внедрены уникальные системы тренировок занимающихся, в&nbsp;том числе так называемые «открытые двери», это когда в&nbsp;зал по&nbsp;субботам могли прийти любые бойцы для спарринга по&nbsp;любым правилам кроме использования боксерских перчаток и&nbsp;боя более <nobr>3-ех</nobr> минут.

				p В&nbsp;результате появляется новая система эффективной нейтрализации противника (СЭНЭ), в&nbsp;которой предпочтение отдается наиболее простым и&nbsp;рациональным способам ведения поединка. Специфика тренировочного процесса и&nbsp;боя в&nbsp;СЭНЭ воспитывает мастеров короткого боя и&nbsp;делает возможным победу над несколькими противниками.

				p Одним из&nbsp;ярких примеров возможности реального применения боевого направления является президент Клуба Штурм Василий Захарович Верещак, черный пояс СЭНЭ (ученик В. Кутырева и&nbsp;Т. Касьянова). В&nbsp;1992 году он&nbsp;создал методику тренировок спецназа Альфа. В&nbsp;течение многих лет в&nbsp;качестве первого заместителя начальника штаба и&nbsp;боевого отдела Группы «А» ФСБ РФ&nbsp;планировал, управлял и&nbsp;принимал личное участие во&nbsp;многих военных и&nbsp;антитеррористических операциях. Награжден боевыми орденами и&nbsp;медалями.

				p На&nbsp;сегодня Василий Захарович <nobr>вице-председатель</nobr> Международной ассоциации ветеранов подразделения антитеррора «Альфа».

				p В.Верещак далеко не&nbsp;единственный представитель учеников Школы, которые смогли стать не&nbsp;только лучшими в&nbsp;единоборствах, но&nbsp;и&nbsp;очень значимыми в&nbsp;других областях жизни, в&nbsp;числе которых есть большое количество известных и&nbsp;успешных бизнесменов. Много тех, кто решил посветить себя спорту и&nbsp;достигли выдающихся успехов в&nbsp;других стилях каратэ на&nbsp;международном уровне. Например, Роман Степин&nbsp;— Чемпион мира по&nbsp;Акенавскому каратэ, Буэнос&nbsp;— Айрес (Аргентина).

				p Большинство приверженцев СЭНЭ тренировались на&nbsp;любительском уровне (два&nbsp;— три раза в&nbsp;неделю плюс работа дома). Тем не&nbsp;менее, благодаря эффективной методике они добились прекрасных результатов не&nbsp;только в&nbsp;физическом и&nbsp;духовном совершенствовании, но&nbsp;и&nbsp;в&nbsp;жизни. Многие выходцы школы построили успешную карьеру и&nbsp;реализовали себя в&nbsp;других областях.

				p Родоначальниками стиля СЭНЭ, создана поистине уникальная своей универсальностью и&nbsp;применимостью система тренировок, позволяющая людям разных профессий добиваться физического и&nbsp;духовного совершенства.

		a(href="/#o-nas/3" title="Следующий слайд").next-btn