#slide1.slide.slide_glass(data-skip="true")
	.slide-section.about-2

		.flying-container
			.longread.scroll
				h3 История
				p Каратэ -до (путь пустой руки) это искусство, рожденное в Японии в начале ХХ века из боевых систем, развивавшихся в Китае, Корее и на Окинаве.
				p Оно было создано как средство самообороны для людей, которым запрещалось иметь оружие. Средство, которое позволяло за счет приобретенных навыков и подручцных средств противостоять физически более сильному и вооруженному противнику.

				h4 Отсюда и два основных принципа каратэ:
				ul
					li каратист в бою использует все ударные части тела
					li выработка мощного удара (атэми)
				p Поэтому а карате используется такой тренировочный метод - тамишивари, кроме лбом об кирпич.

				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi necessitatibus ullam tempore labore eum delectus tenetur maxime vitae qui architecto cupiditate omnis impedit amet modi quidem dolores dolorem, quae eos iure molestiae totam corporis incidunt soluta? Nam consequatur.
	
				h4 Obcaecati
				p Consequuntur cumque iusto minus sunt adipisci tempora amet itaque, hic modi consectetur molestiae dolor eos aperiam unde inventore rem iure, suscipit accusantium ex? Pariatur molestias earum blanditiis, optio recusandae obcaecati incidunt tempora ratione libero perspiciatis quisquam praesentium dolorem? Possimus voluptates aperiam dolorem ullam exercitationem ea quos odio sit.
				p Reprehenderit eligendi vero enim, commodi harum autem expedita quod amet adipisci rerum voluptas natus fugiat. Laborum suscipit fugit vel ab accusantium distinctio. Eaque eos quasi ratione nobis vel alias quisquam ex rerum laboriosam.
				p Sed quia laboriosam unde repudiandae eveniet, ipsum cupiditate nisi eaque ut quae aspernatur iste aliquid ab praesentium aperiam dolore totam repellendus natus voluptates. Nostrum molestiae temporibus tempora eaque, repudiandae at tempore. Impedit aliquam dolorum esse ipsam necessitatibus. Laboriosam veniam labore dicta nesciunt vero optio, amet praesentium temporibus aliquam maiores fuga.
		
				h4 Consequatur numquam
				p Ipsa, distinctio, ducimus nostrum ad perspiciatis reprehenderit ratione officiis architecto asperiores culpa ex quisquam fugit, at illo. Molestias necessitatibus nam ratione repellendus aliquam quidem, a, sunt, impedit dolorem eveniet excepturi? Voluptatum in tempora tenetur, eum nobis molestias dignissimos similique soluta, magnam animi ullam sunt facilis nostrum, nemo accusantium nulla porro est expedita sed quos!
				p Atque error corporis quas, sunt animi, est praesentium quibusdam fugit in debitis voluptas eum vitae cupiditate optio facere dolor, quos rerum porro doloribus dignissimos doloremque voluptatem temporibus! Asperiores voluptate ipsum saepe veritatis odio minima distinctio! Eos dolorem maiores pariatur quo, fuga dicta, consequatur, quas nihil amet iure esse. Ab corporis sunt facilis nobis ipsam consequatur numquam, unde fuga! Quam culpa architecto sint sapiente aperiam libero quo vitae at ipsam quas exercitationem, ut asperiores eos provident a expedita.

		a(href="/#o-nas/2" title="Следующий слайд").next-btn