#slide1.slide.slide_glass(data-skip="true")
	.slide-section.about-2
		
		.back-video.to-slide-top

			video#banner-video.banner__video(loop="" muted="" autoplay="" poster="/resources/img/video-placeholder.png")
				source(src="resources/video/stock-video.mp4" type="video/webm")


		h2.ultra-title.side-title.to-slide-top
			.side-title__text О&nbsp;клубе

		.longread-container
			.longread
				h3 Цель клуба
				p Сохранить уникальную систему подготовки и воспитания мастеров боя без оружия. Имеющую более чем полувековую историю становления, являющуюся результатом развития лучших техник единоборств на российской земле. Продолжать развивать школу СЭНЭ и воспитывать мастеров и инструкторов этого стиля.

				h3 Быть в клубе
				p Не меняя своей профессии ты получаешь:  Господа, граница обучения кадров создаёт предпосылки для приоретизации разума над эмоциями. Повседневная практика показывает, что консультация с широким активом является качественно новой ступенью поэтапного и последовательного развития общества.
				
				h3 Ценности клуба
				ul
					li Уважение к культуре и искусству боя
					li Созранение здоровья
					li Взаимопощь и товарищество

				h3 История
				p Каратэ -до (путь пустой руки) это искусство, рожденное в Японии в начале ХХ века из боевых систем, развивавшихся в Китае, Корее и на Окинаве.
				p Оно было создано как средство самообороны для людей, которым запрещалось иметь оружие. Средство, которое позволяло за счет приобретенных навыков и подручцных средств противостоять физически более сильному и вооруженному противнику.
				p 
					b Отсюда и два основных принципа каратэ:
				ul
					li каратист в бою использует все ударные части тела
					li выработка мощного удара (атэми)
				p Поэтому а карате используется такой тренировочный метод - тамишивари, кроме лбом об кирпич.