//- #slide1.slide.slide_glass(data-skip="true", data-scroll="true")
#slide1.slide.slide_glass(data-scroll="true")
	.slide-section.about-2
		
		.back-video.to-slide-top

			video#about-video.banner__video(loop="" muted="" autoplay="" poster="")
				//- source(src="resources/video/inside-video.mp4" type="video/webm")

		h2.ultra-title.side-title.to-slide-top
			.side-title__text О&nbsp;клубе

		.flying-container
			.longread.scroll
				h3 Миссия Клуба
				p Объединить совершенно разных людей на&nbsp;пути физического и&nbsp;духовного совершенствования.

				h3 Цели Клуба
				p Сохранить уникальную, имеющую более чем полувековую историю становления систему подготовки и&nbsp;воспитания мастеров боя без оружия. Совершенствовать стиль, созданный в&nbsp;результате развития лучших техник единоборств на&nbsp;российской земле, воспитывая новых мастеров и&nbsp;инструкторов СЭНЭ.
				
				h3 Быть в&nbsp;клубе для:
				ul
					li Качественного развития себя в&nbsp;привычном ритме жизни.
					li Реализации своего потенциала через изменение внутреннего состояния.
					li Воспитания устойчивой привычки к&nbsp;здоровому образу жизни.
					li Овладения искусством ведения боя без оружия

		a(href="/#o-nas/1" title="Следующий слайд").next-btn