#slide1.slide.slide_glass(data-skip="true")
	.slide-section.about-2
		
		.back-video.to-slide-top

			video#banner-video.banner__video(loop="" muted="" autoplay="" poster="")
				source(src="resources/video/inside-video.mp4" type="video/webm")

		h2.ultra-title.side-title.to-slide-top
			.side-title__text О&nbsp;клубе

		.flying-container
			.longread.scroll
				h3 Цель клуба
				p Сохранить уникальную систему подготовки и воспитания мастеров боя без оружия. Имеющую более чем полувековую историю становления, являющуюся результатом развития лучших техник единоборств на российской земле. Продолжать развивать школу СЭНЭ и воспитывать мастеров и инструкторов этого стиля.

				h3 Быть в клубе
				p Не меняя своей профессии ты получаешь:  Господа, граница обучения кадров создаёт предпосылки для приоретизации разума над эмоциями. Повседневная практика показывает, что консультация с широким активом является качественно новой ступенью поэтапного и последовательного развития общества.
				
				h3 Ценности клуба
				ul
					li Уважение к культуре и искусству боя
					li Созранение здоровья
					li Взаимопощь и товарищество

		a(href="/#o-nas/1" title="Следующий слайд").next-btn