extends ../modules/doctype

block head
	title #{title}
	link(rel="stylesheet" href="main.css")
	link(rel="stylesheet" href="resources/libraries/fullPage/fullpage.min.css")

block body

	#wrapper
		block content

	include ../modules/scripts