.about-2 {
	--btn-height: 100%;
	--btn-width: var(--left-column-width);
	display: flex;
	align-items: center;
	justify-content: center;
	// display: grid;
	// grid-template-columns: auto var(--left-column-width);

	@media (max-width: @size-md--) {
		flex-direction: column-reverse;
    justify-content: flex-end;
		// padding: calc(var(--header-size) + var(--row-mini-unit) / 3) 0 var(--row-mini-unit);
		padding: calc(var(--row-mini-unit) / 3) 0 var(--row-mini-unit);
	}
}

.flying-container {
	background-color: rgba(0, 0, 0, 0.7);
	height: calc(100vh - var(--header-size) * 3);
	padding-top: var(--row-mini-unit);
	padding-bottom: var(--row-mini-unit);
	padding-right: var(--column-unit);
	padding-left: calc(var(--left-column-width) * 2);
	// height: 100%;
	width: 100%;

	@media (max-width: @size-md--) {
		padding: var(--row-mini-unit) var(--column-unit);
		font-size: var(--text-size-compact);
		overflow: hidden;

		h3:before {
			display: none;
		}

	}

	// @media (min-width: @size-md) {
	// 	& + .next-btn {
	// 		display: none;
	// 	}
	// }
	@media (max-width: @size-xs--) {
		padding: calc(var(--row-mini-unit) / 3) calc(var(--column-unit) * 1.5);
	}
}
// .fp-slide:last-child {
// 	// .next-btn {
// 	// 	display: none;
// 	// // }
// 	// @media (max-width: @size-md--) {
// 	// 	.flying-container {
// 	// 		margin-top: calc(var(--row-mini-unit) * 0.8);
// 	// 	}
// 	// }
// }

.longread {
	overflow-y: auto;
	height: 100%;
	padding-right: var(--column-unit);
	
	@media (min-width: @size-xg) {
		padding-right: calc(var(--column-unit) * 3);
	}
	h3 {
		margin-bottom: .8em;

		&:not(:first-child) {
			margin-top: 1.2em;
		}
	}

	p {
		margin-bottom: 1.2em;
	}


}
