.info {
	background-color: var(--back-color);

	display: grid;
	grid-template-rows: calc(var(--row-unit) * 1.5) auto calc(var(--row-unit) * 2/3);

	&::after {
		content: '';
		background-color: var(--acent-color);
		bottom: 0;
		display: block;
		height: 100%;
		height: calc(var(--row-unit) * 2/3);
		position: absolute;
		right: 0;
		width: calc(var(--form-width) + var(--left-column-width));
	}
	&__title {
		align-items: flex-end;
		background-color: var(--acent-color);
		display: flex;
		font-size: 2.5em;
		padding-bottom: 0.1em;
		padding-left: var(--left-column-width-full);
		position: relative;
		z-index: 1;

		&::before {
			background-color: var(--passive-color);
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: var(--left-column-width);
		}

		&::after {
			background-color: var(--passive-color-2);
			content: '';
			display: block;
			height: var(--row-mini-unit);
			position: absolute;
			right: 0;
			top: calc(100% - var(--row-mini-unit));
			transform: translateY(1px);
			width: var(--left-column-width);
		}
	}

	&__body {
		background-color: var(--passive-color-2);
		display: grid;
		font-size: .88em;
		grid-gap: var(--column-unit);
		grid-template-columns: auto var(--form-width);
		padding: calc(var(--row-unit) * 2/3) var(--left-column-width) 0 var(--left-column-width-full);
		position: relative;
		z-index: 0;

		article {
			line-height: 1.72em;
		}

		strong {
			font-size: 1.44em;
			font-weight: inherit;
			line-height: 1.4em;
		}
		@media (min-width: @size-xg) and (max-width: @size-hd--) {
			font-size: .72em;
		}
		@media (min-width: @size-lg) and (max-width: @size-xg--) {
			font-size: .8em;
		}
	}

	&__article {
		padding-right: calc(var(--column-unit) * 2.5);
	}

	h3 {
		font-size: 1.8em;
		margin-bottom: .32em;
    margin-top: -0.2em;

		&::before {
			display: none;
		}
	}

	p + p {
		margin-top: 1em;
	}

}