.info-2 {
	display: grid;
	grid-template-columns: auto var(--left-column-width);
	position: relative;

	&_deco {
		.info-2__body {
			padding-top: var(--row-unit);
			padding-bottom: calc(var(--row-unit) * 2/3);

			&::before {
				content: '';
				background-color: var(--acent-color);
				bottom: 0;
				display: block;
				height: 100%;
				height: calc(var(--row-unit) * 2/3);
				position: absolute;
				right: 0;
				width: calc(var(--form-width) + var(--left-column-width));
			}
		}
		&::after {
			content: '';
			background-color: var(--acent-color);
			bottom: 0;
			display: block;
			height: 100%;
			height: calc(var(--row-unit) * 2/3);
			position: absolute;
			right: 0;
			width: calc(var(--form-width) + var(--left-column-width));
		}
		&::before {
			content: '';
			background-color: var(--passive-color);
			bottom: 0;
			display: block;
			height: 100%;
			height: calc(var(--row-unit) * 2/3);
			position: absolute;
			left: 0;
			width: 100vw;
		}
	}
	&__title {
		align-items: center;
		background-color: var(--acent-color);
		display: flex;
		font-size: 2.5em;
		height: var(--row-unit);
		justify-content: flex-end;
		margin-top: var(--header-size);
		padding-right: calc(var(--column-unit) * 2);
		width: calc(100% - var(--left-column-width));

	}
	.news-list {
		padding: var(--row-unit) var(--column-unit) var(--row-mini-unit);
	}

	&__body {
		--text-color: var(--passive-color-2);
    display: flex;
    align-items: center;

		&_light {
			background-color: var(--passive-color);
			color: var(--text-color);
		}
		&_columed {
			grid-template-columns: auto var(--form-width);
		}
		display: grid;
		font-size: .88em;
		position: relative;
		z-index: 0;

		article {
			line-height: 1.72em;
			margin-bottom: 1.2em;
		}

		strong {
			font-size: 1.44em;
			font-weight: inherit;
			line-height: 1.4em;
		}
		@media (min-width: @size-xg) and (max-width: @size-hd--) {
			font-size: .72em;
		}
		@media (min-width: @size-lg) and (max-width: @size-xg--) {
			font-size: .8em;
		}
	}

	&__article {
		// padding-right: calc(var(--column-unit) * 2.5);
		padding-right: calc(var(--left-column-width));
		padding-left: calc(var(--left-column-width-full));
	}
	

	h3 {
		font-size: 2em;
		margin-bottom: .32em;
    margin-top: -0.2em;

		&::before {
			display: none;
		}
	}

	p + p {
		margin-top: 1em;
	}

	.news-list {
		.news:first-child {
			grid-row-start: 1;
			grid-row-end: 4;
		}

	}

}