#banner-video-control {
	display: none;
}

.banner {
	// background-image: url('/resources/img/video-placeholder.png');
	// background-position: right center;
	// background-repeat: no-repeat;
	// background-size: cover;

	@media (max-width: @size-md--) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		padding: 0;
		text-align: center;
		width: 100vw;

		.btn-set-compact {
			font-size: 1.4em;
		}
	}
	&__video-wrapper {
		// align-items: center;
		// display: flex;
		// // height: calc(100vh - var(--header-size));
		// height: 100%;
		// justify-content: center;
		// overflow: hidden;
		// position: relative;
		// // margin-top: var(--header-size);
		// padding-top: var(--header-size);
		align-items: flex-start;
		background-color: black;
		display: flex;
		height: 100vh;
		justify-content: center;
		overflow: hidden;
		position: relative;
		width: 100vw;

		&:before {
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.3);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__video {
		// margin-top: var(--header-size);
		// min-height: 100%;
		// min-width: 100%;
		// object-fit: cover;
		// opacity: .7;
		// height: 100%;
    object-fit: cover;
    width: 100%;
	}
	&__body {
		// grid-template-columns: var(--left-column-width) auto var(--left-column-width);
		// padding-top: var(--header-size);
		display: grid;
		grid-template-columns: auto var(--left-column-width);
		height: 100%;
		// height: 100%;
		left: 0;
		padding: 0 var(--column-mini-unit) 0;
		position: absolute;
		top: 0;
		width: 100vw;
		@media (max-width: @size-md--) {
			grid-template-columns: auto;
		}
	}

	&__content {
		align-items: flex-end;
		display: flex;
		grid-gap: calc(var(--column-unit) * 1.28);

		@media (max-width: @size-md) {
			align-items: center;
			flex-direction: column;
			justify-items: center;
			grid-gap: 2em;
		}
		&-container {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			justify-content: center;
			// padding-top: ~"calc(var(--row-unit) * .25)";
			// padding-left: var(--column-mini-unit);
			margin-left: var(--left-column-width-full);

			@media (max-width: @size-md--) {
				align-items: center;
				grid-row: 2;
				padding-top: 0;
			}
			@media (max-width: @size-md) {
				order: 2;
				margin-left: initial;
			}
		}

		.full-text-logo {
			--ration: 1;
			background-image: url('/resources/img/vector/full-text-logo.svg');
			background-position: left top;
			background-repeat: no-repeat;
			background-size: contain;
			height: ~"calc(142px * var(--ration))";
			width: ~"calc(459px * var(--ration))";

			@media (min-width: @size-xg) {
				--ration: 1;
			}
			@media (min-width: @size-md) and (max-width: @size-lg--) {
				--ration: .8;
			}

			@media (min-width: @size-sm) and (max-width: @size-md--) {
				--ration: .6;
			}

			@media (min-width: @size-xs) and (max-width: @size-sm--) {
				--ration: .4;
			}

			@media (max-width: @size-sm--) {
				--ration: .22;
			}
		}
		.emblem {
			--ration: 1;
			background-image: url('/resources/img/vector/emblem.svg');
			background-position: left top;
			background-repeat: no-repeat;
			background-size: contain;
			height: ~"calc(206px * var(--ration))";
			margin-bottom: 1em;
			margin-bottom: calc(var(--row-unit) * -0.15);
			width: ~"calc(134px * var(--ration))";

			@media (min-width: @size-xg) {
				--ration: 1;
			}
			@media (min-width: @size-md) and (max-width: @size-lg--) {
				--ration: .8;
			}

			@media (min-width: @size-sm) and (max-width: @size-md--) {
				--ration: .6;
			}

			@media (min-width: @size-xs) and (max-width: @size-sm--) {
				--ration: .4;
			}

			@media (max-width: @size-sm--) {
				--ration: .7;
				margin-top: 3em;
			}
		}
	}

	&__first-aside {
		align-items: center;
		display: flex;
		justify-content: center;
    order: 3;
    font-size: 1.2em;

		// @media (max-width: @size-sm--) {
		// 	display: none;
		// }
		// > .phone {
		// 	font-size: var(--text-size-normal);
		// 	font-weight: 500;
		// 	letter-spacing: .042em;
		// 	padding: .4em;
		// 	text-decoration: none;
		// 	transition: transform .28s;
		// 	white-space: nowrap;

		// 	// @media (min-width: @size-sm) {
		// 		transform: rotate(-90deg);

		// 		&:hover {
		// 			transform: rotate(-90deg) scale(3.5);
		// 		}
		// 	// }
		// }
		@media (min-width: @size-md) {
			display: none;
		}
		@media (max-width: @size-xs--) {
			.btn-wide {
				margin: 0 26px;
				width: 100%;
			}
		}
	}

	&__second-aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		grid-gap: calc(var(--row-mini-unit) / 2);
		grid-gap: calc(var(--row-unit) * 1.27);
		grid-gap: var(--row-unit);
		justify-content: flex-end;
		padding-bottom: var(--row-mini-unit);

		// @media (min-width: @size-md) {
		// 	display: none;
		// }
		.phone {
			display: none;
		}
		> .social {
			display: flex;
			grid-gap: .4em;
		}
		@media (max-width: @size-md--) {
			--pad:  calc(var(--column-unit) * 2);
			// align-items: center;
			// grid-gap: 0;
			align-items: flex-start;
			grid-row: 1;
			justify-content: flex-start;
			padding: var(--pad) 0 0 var(--pad);
			.phone,
			.social {
				display: none;
			}
		}

	}
}