.video-banner {
	background-image: url('/resources/img/video-placeholder.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	// grid-template-columns: 1fr auto 1fr;
	// grid-template-columns: 18vh auto 18vh;
	grid-template-columns: var(--left-column-width) auto var(--left-column-width);
	// max-height: 834px;
	padding: 0 var(--column-mini-unit);

	@media (max-width: @size-sm--) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		padding: 0;
		text-align: center;
		width: 100vw;
		.btn-set-compact {
			font-size: 1.4em;
		}
	}
	&__content {

		&-container {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			justify-content: center;
			// padding-right: 18vw;
			// padding-top: 15vh;
			padding-top: ~"calc(var(--row-unit) * .5)";
			padding-left: var(--column-mini-unit);

			@media (max-width: @size-sm--) {
				align-items: center;
				grid-row: 2;
				padding-top: 0;
			}
		}

		.banner-svg {
			--ration: 1;
			background-image: url('/resources/img/vector/storm.svg');
			background-position: left top;
			background-repeat: no-repeat;
			background-size: contain;
			height: ~"calc(126px * var(--ration))";
			margin-bottom: 1em;
			width: ~"calc(686px * var(--ration))";

			@media (min-width: @size-xg) {
				--ration: 1.16;
			}
			@media (min-width: @size-md) and (max-width: @size-lg--) {
				--ration: .8;
			}

			@media (min-width: @size-sm) and (max-width: @size-md--) {
				--ration: .6;
			}

			@media (min-width: @size-xs) and (max-width: @size-sm--) {
				--ration: .4;
			}

			@media (max-width: @size-sm--) {
				--ration: .42;
			}
		}
	}

	&__first-aside {
		align-items: center;
		display: flex;
		justify-content: center;

		@media (max-width: @size-sm--) {
			display: none;
		}
		> .phone {
			font-size: var(--text-size-normal);
			font-weight: 500;
			letter-spacing: .042em;
			padding: .4em;
			text-decoration: none;
			transition: transform .28s;
			white-space: nowrap;

			// @media (min-width: @size-sm) {
				transform: rotate(-90deg);

				&:hover {
					transform: rotate(-90deg) scale(3.5);
				}
			// }
		}
	}

	&__second-aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		grid-gap: calc(var(--row-unit) * 1.27);
		justify-content: flex-end;
		padding-bottom: var(--row-mini-unit);
    grid-gap: calc(var(--row-mini-unit) / 2);
    padding: 0;

		.phone {
			display: none;
		}
	
		@media (max-width: @size-sm--) {
			grid-row: 3;
			align-items: center;
			justify-content: center;
			.phone {
				display: initial;
			}
		}
		> .social {
			display: flex;
			grid-gap: .4em;
		}

	}
}