.slide-section.contacts
	article.contacts-info
		h2.mega-title.acent-title Контакты
	
		.contacts-info__main
			ul.contacts-list
				li
					include ../parts/phone.pug
				li
					include ../parts/email.pug
				li
					a г.&nbsp;Москва, ул.&nbsp;Вострухина, д.&nbsp;4А, помещ.&nbsp;1.4
			
				include ../modules/social.pug
			p
				small Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies.

	.map
		//- todo lock scroll
		//- img(src="/resources/img/map-placeholder.png")
		iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae87c2a56125480aac4f37131dfd4c8791e674f7e41b2f80552fce6a050352cdb&amp;source=constructor")