header#main-header

	nav.main-nav
		include menu

	ul.header-actions
		li
			include ../parts/phone
		li
			include ../parts/btns/cta-1-wide

	.aside-logo__container 
		//- a.aside-logo(href="#bojcovskij-klub")
		.aside-logo
			include ../parts/logo
