header#main-header
    div
        a#burger.burger
            div.burger__lines
                hr
                hr
                hr
    div
        a#aside-logo
            img(src="/resources/img/vector/logo.svg", alt="ШТYРМ")