ul.menu

	li
		a(href="#bojcovskij-klub") Главная

	li
		a(href="#istorya") История СЭНЭ

	li
		a(href="/#o-nas") О&nbsp;клубе

		ul.menu__sublist
			li
				a(href="/#o-nas") Миссия и&nbsp;ценности
			li
				a(href="/#o-nas/o-nas-1") Люди (тренеры, президиум)
			li
				a(href="/#o-nas/o-nas-2") Как выглядит клуб

	li
		a(href="/#informaciya") Информация

	li
		a(href="/#kontakty") Контакты