ul.menu

	li
		a(href="#bojcovskij-klub") Главная

	//- li
	//- 	a(href="#istorya") История СЭНЭ

	li
		a(href="/#o-nas") О&nbsp;клубе

		ul.menu__sublist
			li
				a(href="/#o-nas") Миссия
			li
				a(href="/#o-nas/1") Зал
			li
				a(href="/#o-nas/2") История
			li
				a(href="/#o-nas/3") Люди

	li
		a(href="/#informaciya") Информация

		ul.menu__sublist
			li
				a(href="/#informaciya") Записаться
			li
				a(href="/#informaciya/news") Новости

	li
		a(href="/#kontakty") Контакты