ul.menu

	li
		a(href="#bojcovskij-klub") Главная

	//- li
	//- 	a(href="#istorya") История СЭНЭ

	li
		a(href="/#o-nas") О&nbsp;клубе

		ul.menu__sublist
			li
				a(href="/#o-nas") Миссия
			li
				a(href="/#o-nas/1") История
			li
				a(href="/#o-nas/2") Люди

	li
		a(href="/#informaciya") Информация

	li
		a(href="/#kontakty") Контакты