aside#menu.menu

    .menu__aside

        include ../parts/phone.pug
        include ../modules/social.pug

    nav.menu__list
        ul
            li
                a Главная

            li
                a История СЭНЭ

            li
                a О&nbsp;клубе
                ul
                    li Миссия и ценности
                    li Люди (тренеры, президиум)
                    li Как выглядит клуб

            li
                a Информация

            li
                a Контакты

        div
            a.btn.btn-glass Записаться