#mobile-header.mobile-header
	a.mobile-header__logo-link(href="/#bojcovskij-klub")
		include ../parts/logo
	.title#title
		include ../parts/phone
	a#mobile-burger.burger.mobile-burger
		div.mobile-burger__lines
			hr
			hr
			hr