script(src='resources/libraries/jQuery/jquery.min.js')
script(src='scripts.js')

script(src="resources/libraries/fullPage/fullpage.scrollHorizontally.min.js")
script(src="resources/libraries/fullPage/fullpage.extensions.min.js")
script(src="resources/libraries/Inputmask/inputmask.min.js")