script(src='resources/libraries/jQuery/jquery.min.js')
script(src='/main.js')

script(src="resources/libraries/fullpage/fullpage.scrollHorizontally.min.js")
script(src="resources/libraries/fullpage/fullpage.extensions.min.js")