ul.social

	li
		a(href="https://vk.com/shturmmoscow", title="VK", target="_blank")
			include ../../resources/img/vector/icons/vk.svg

	li
		a(href="https://t.me/shturmclub", title="Telegram" target="_blank")
			include ../../resources/img/vector/icons/telegram.svg

	//- li
	//- 	a(href="", title="WhatsApp") 
	//- 		include ../../resources/img/vector/icons/wapp.svg