ul.social

	li
		a(href="", title="VK") 
			include ../../resources/img/vector/icons/vk.svg

	li
		a(href="", title="Telegram") 
			include ../../resources/img/vector/icons/telegram.svg

	li
		a(href="", title="WhatsApp") 
			include ../../resources/img/vector/icons/wapp.svg