#slide2.slide(data-anchor="1970-1", data-parent="1970" data-index="1")
	.paraslide
		.layer-box-1.layer 
		.layer-60-1.layer
		.layer-text-1.layer
			article
				h3 Были времена когда всё было иначе, но&nbsp;наш клуб был таким&nbsp;же
				include ../../fish-1.pug
		.layer-img-1.layer
			img(src="/resources/img/photo/old-photo-3.png", alt="")
