#slide2b.slide(data-anchor="1970-3", data-parent="1970" data-index="3")
	.paraslide
		.layer-box-2.layer 
		.layer-60-2.layer
		.layer-text-3.layer
			include ../../fish-1.pug
		.layer-img-2.layer
			img(src="/resources/img/photo/old-photo-4.jpg", alt="")