#slide2c.slide(data-anchor="1970-5", data-parent="1970" data-index="5").last-slide
	.paraslide
		.layer-box-3.layer 
		.layer-60-3.layer
		.layer-70-0.layer
		.layer-text-3.layer
			article
				include ../../fish-1.pug
		.layer-video-1.layer
			.videoplayer-placeholder
		a.layer-next.layer
			span 1970