#slide1.slide.slide_glass
	.slide-section.about-2

		.flying-container.persons-list__container
			h3 Люди
			dl.persons-list
				a.persons-list__item.person-inter
					.img-container
						img(src="/resources/img/photo/people/Верещак_Василий_Захарович.jpg", alt="Верещак Василий Захарович")
					header
						dt Верещак Василий Захарович
						dd Президент бойцовского клуба СЭНЭ Штурм
						article.shadow-article
							p
								ul
									li Полковник ФСБ в&nbsp;отставке
									li Черный пояс СЭНЭ
									li Ветеран подразделения Антитеррора Альфа
							p Участник боевых и&nbsp;контртеррористических операций. (с&nbsp;1993 по&nbsp;2004 гг), имеет богатый опыт управления боевыми подразделениями спецназа.
							p Эксперт в&nbsp;сфере обеспечения комплексной безопасности личности и&nbsp;бизнеса, &nbsp;эксперт управления обеспечением безопасности крупных международных мероприятий.
							p Ведет активную благотворительную и&nbsp;попечительскую деятельность. Президент Детского Центра боевых искусств <nobr>«Альфа-БУДО»</nobr>.
					
				a.persons-list__item.person-inter
					.img-container
						img(src="/resources/img/photo/people/Глеб_Горячев.jpg", alt="Горячев Глеб Анатольевич")
					header
						dt Горячев Глеб Анатольевич
						dd Директор бойцовского клуба СЭНЭ Штурм
						article.shadow-article
							p
								ul
									li Черный пояс СЭНЭ
									li Мастер спорта СССР по&nbsp;рукопашному бою, 1991 год
									li 2 дан ВУКО

							p
								h4 Результаты:
								ul
									li 3&nbsp;место по&nbsp;кумите международного открытого турнира фудокан (1990)
									li 1&nbsp;место на&nbsp;чемпионате СССР по&nbsp;рукопашному бою (1991)
									li Многократный призер чемпионатом школы СЭНЭ в&nbsp;<nobr>80-ых</nobr> и&nbsp;<nobr>90-ых</nobr> годах

				a.persons-list__item.person-inter
					.img-container
						img(src="/resources/img/photo/people/Семен_Котляр.jpeg", alt="Котляр Семён Александрович")
					header
						dt Котляр Семён Александрович
						dd Тренер бойцовского клуба СЭНЭ Штурм

					article.shadow-article
						p Черный пояс СЭНЭ
						p Начал свой путь в&nbsp;СЭНЭ в&nbsp;1976 году. Ученик Романа Стёпина, Тадеуша Рафаиловича Касьянова
						p
							ul
								li Победитель открытого первенства школы СЭНЭ 1986, 1987, 1988
								li Победитель чемпионата ЦСК 1991
								li Победитель кубка Будо 1991
								li Кубок Будо абсолютная весовая категория 1992

				a.persons-list__item.person-inter
					.img-container
						img(src="/resources/img/photo/people/Сергей_Петров.jpg", alt="Сергей Петров")
					header
						dt Сергей Петров
						dd Тренер бойцовского клуба СЭНЭ Штурм

					article.shadow-article
						p Черный пояс СЭНЭ

						p
							ul
								li С&nbsp;10 лет начал заниматься боксом
								li Ученик Юрия Кутырева и&nbsp;Тадеуша Касьянова

						p С&nbsp;1978 по&nbsp;1990 годы тренировался с&nbsp;такими мастерами, как: призер чемпионатов СССР Юрий Кутырев, Тадэуш Касьянов, четырёхкратным чемпионом мира по&nbsp;<nobr>Таэ Квон До Ли Енг</nobr>, Кеннетом Фунакоши.

						p В&nbsp;1999 году начал тренировки с&nbsp;английским мастером Айкидо Есинкан Давидом Эйерсом.

						p Проходил службу в&nbsp;Афганистане (офицер), где также был инструктором по&nbsp;рукопашному бою, принимал участие в&nbsp;боевых действиях, награждён орденами и&nbsp;медалями (орден «Красной Звезды», орден «За&nbsp;Службу Родине <nobr>3-й степени</nobr>», медалью «За&nbsp;Боевые Заслуги».

		a(href="/#informaciya" title="Следующий раздел").next-btn