#slide2c.slide(data-anchor="1980-5", data-parent="1980" data-index="5", data-skip="true").last-slide
	.paraslide
		//- .layer-box-3.layer
		.layer.layer-box.layer-box_c
		.layer.layer-numb.layer-numb_d.layer-numb_80.layer-numb_mono 
		.layer.layer-text.layer-text_c
			article
				include ../../fish-1.pug
		.layer.layer-video.layer-video_a
			.videoplayer-placeholder
		a.layer-next.layer(href='#istorya/1980')
			span 1980