.paraslide {
	align-items: center;
	display: flex;
	height: calc(100vh - var(--row-unit));
	line-height: 1.8em;
	margin-top: var(--timeline-height);
	position: relative;

	h3 {
		letter-spacing: .001em;
		margin-bottom: 1em;

		&::before {
			display: none;
		}
	}
	p + p {
		margin-top: 1em;
	}
	@media (min-width: @size-xg) {
		line-height: 1.52em;
	}

	.layer {
		position: absolute;
		right: 0;
		// opacity: .66;

		&-box {
			background-color: var(--back-color);
			height: 100%;
			right: 0;
			transform-origin: right;
			transition: transform 1.3s;

			&_a {
				transform: translateX(60vw) scaleX(.75);
				width: 44vw;

				.fp-slide.active & {
					transform: translateX(0);
				}
				@media (min-width: @size-xg) and (max-width: @size-hd--) {
					width: 40vw;
				}
			}

			&_b {
				transform-origin: left;
				transform: translateX(57vw) scale(1.2);
				width: 19vw;

				@media (min-width: @size-xg) and (max-width: @size-hd--) {
					transform: translateX(57vw) scale(1.2);
				}

				.fp-slide.active & {
					transform: translateX(-38vw);

					@media (min-width: @size-xg) and (max-width: @size-hd--) {
						transform: translateX(-38vw) scale(1.2);
					}
				}
			}

			&_c {
				left: 50em;
				width: 19vw;
				transform: scaleX(.5);

				.fp-slide.active & {
					transform: scaleX(1) translateX(-20vw);
				}
			}

		}
		&-numb {
			// opacity: 1;
			// background-color: #00e0054a;
			background-image: url('/resources/img/sprites/numbs-sprite.svg');
			background-position-x: center;
			background-position-y: 0;
			background-repeat: no-repeat;
			background-size: cover;
			height: 740px;
			transform-origin: left bottom;
			transform: scale(1.2);
			transition: 1.9s;
			width: 1092px;
	
			&_mono {
				background-image: url('/resources/img/sprites/numbs-sprite-mono.svg');
			}
	
			each(range(0, 9, 1), {
				@numb: @index * 10;
				@val: @index * 743;
				&_@{numb} {
					background-position-y: ~"-@{val}px";
				}
			});

			--numb-scale: scale(1.14);
			--numb-h-move: -3vh;

			@media (min-width: @size-xg) and (max-width: @size-hd--) {
				--numb-scale: scale(1.1);
				--numb-h-move: -5vh;
			}

			&_a {
				transform: var(--numb-scale) translate(61vw, var(--numb-h-move));
				// transform: var(--numb-scale);

				@media (min-width: @size-xg) and (max-width: @size-hd--) {
					transform: var(--numb-scale) translate(83vw, var(--numb-h-move));
				}
				
				.fp-slide.active & {
					transform: var(--numb-scale) translate(-4vw, var(--numb-h-move));
					// transform: var(--numb-scale) translate(10vw, var(--numb-h-move));

					@media (min-width: @size-xg) and (max-width: @size-hd--) {
						transform: var(--numb-scale) translate(8vw, var(--numb-h-move))
					}
				}
			}

			&_b {
				transform: var(--numb-scale) translate(45vw, var(--numb-h-move));

				.fp-slide.active & {
					transform: var(--numb-scale) translate(-10vw, var(--numb-h-move));
				}
			}

			&_c {
				transform: var(--numb-scale) translate(1vw, var(--numb-h-move));
				position: relative;

				.fp-slide.active & {
					transform: var(--numb-scale) translate(-53vw, var(--numb-h-move));
				}
			}

			&_d {
				filter: grayscale(0);
				transform: var(--numb-scale) translate(82vw, -5vh);

				.fp-slide.active & {
					transform: var(--numb-scale) translate(23vw, -5vh);
					transition: 2s;
				}
			}

			&_e {
				filter: grayscale(0);
				transform: var(--numb-scale) translate(-38vw, -5vh);

				.fp-slide.active & {
					transform: var(--numb-scale) translate(-47vw, -5vh);
					transition: 2s;
				}
			}

		}

		&-img {
			opacity: 1;
			display: flex;

			> img {
				height: auto;
				width: 100%;
			}

			&_a {
				bottom: -2px;
				transform: translateX(53vw);
				transition: 1.5s;
				// width: 40vw;
				height: 100%;

				// @media (min-width: @size-xg) and (max-width: @size-hd--) {
				// 	// transform: translateX(-2vw);
				// 		// width: 50vw;
				// }
				.fp-slide.active & {
					transform: translateX(-10vw);
					transition: 1.1s;
					@media (min-width: @size-xg) and (max-width: @size-hd--) {
						transform: translateX(-2vw);
					}
				}
			}

			&_b {
				transform-origin: center;
				bottom: 10vh;
				transform: translateX(58vw) translateY(-3.6vh) scale(.86);
				transition: 1.5s;
				width: 46vw;

				.fp-slide.active & {
					transform: translateX(-7vw) translateY(-3vh);
					transition: 1.1s;
				}
			}
		}
		&-text {
			// background-color: rgba(0, 140, 255, 0.171);
			opacity: 0;
			pointer-events: none;
			transition: .8s;
			user-select: none;
				
			h3 {
				padding-right: 10em;
			}
			@media (min-width: @size-xg) and (max-width: @size-hd--) {
				font-size: .8em;
				line-height: 1.48em;
				h3 {
					font-size: 1.7em;
					padding-right: 3em;
				}
			}
			.fp-slide.active & {
				opacity: 1;
				pointer-events: all;
				transition: .8s;
				user-select: initial;
			}
			&_a {
				left: 8vw;
				width: 40vw;
				margin-bottom: 3vh;
			}
			&_b {
				right: 8vw;
				width: 28vw;
				margin-bottom: .8vh;
			}
			&_c {
				left: 8vw;
				width: 32vw;
				margin-bottom: 2.8vh;
			}
		}
	
		&-video {

			&_a {
				left: 78vw;
				margin-bottom: 1vh;
				opacity: 0;
				pointer-events: none;
				user-select: none;
				transition: 1.1s;
				.fp-slide.active & {
					transition: 1.8s;
					opacity: 1;
					pointer-events: all;
					transition: 1s;
					user-select: initial;
					transform: translateX(-33vw);
				}
				.videoplayer-placeholder {
					background-image: url('resources/img/video-2-placeholder.jpg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					height: 364px;
					width: 500px;
				}
			}
		}

		&-next {
			align-items: center;
			cursor: pointer;
			display: flex;
			font-size: 6.2em;
			font-weight: 300;
			margin-bottom: .1em;
			position: absolute;
			text-decoration: none;
			transition: .5s;

			// animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
			// animation: shake 4s ease infinite;
			// backface-visibility: hidden;
			// perspective: 1000px;
			// transform: translate3d(0, 0, 0);
			// animation-iteration-count: infinite;
			// animation-delay: 8s;

			&:hover {
				transform: translateX(.18em);
			}
			&:after {
				content: '';
				display: block;
				background-image: url('/resources/img/vector/icons/arrow-strong.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				width: .52em;
				height: .52em;
				margin-bottom: .04em;
			}
			.fp-slide.active & {
				right: 4vw;
			}
		}
	}

}



.layer-video-1 .videoplayer-placeholder {
	background-image: url('resources/img/video-2-placeholder.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 364px;
	width: 500px;
}

.last-slide {
	.paraslide {
		background-color: var(--passive-color-2);

		&::before {
			content: '';
			display: block;
			height: 100vh;
			width: 40vw;
			background-color: var(--acent-color);
			right: 0;
			position: absolute;
			z-index: 0;
		}
	}
}
// @keyframes shake {
//   0%, 35% {
//     transform: translate3d(0px, 0, 0);
//   }

//   20% {
//     transform: translate3d(.18em, 0, 0);
//   }
// }