.slide-section.history
	//- aside
	ol.history__time-line
		li 
			a 1960
		li 
			a 1970
		li 
			a 1980
		li 
			a 1990
		li 
			a 2000
		li 
			a 2010
		li 
			a 2020

	.history__banner

		.history__banner-text
			.monsto-title Исто
			.monsto-title рия
			h2 Интересные Факты из многолетней истории клуба
