.slide-section.video-banner

    aside.video-banner__first-aside
        include ../parts/phone.pug

    .video-banner__content-container
        .video-banner__content
            include ../../../resources/img/vector/storm.svg
            h1 Бойцовский Клуб СЭНЭ
            div
                a.btn.btn-glass.btn-video.btn-start Смотреть видео

    aside.video-banner__second-aside
        include ../modules/social.pug