.slide-section.banner

	.banner__video-wrapper

		#banner-video
		//- video#banner-video.banner__video(loop="" muted="" autoplay="" poster="")
			//- source(src="resources/video/1920.mp4" type="video/mp4")

	.banner__body

		aside.banner__first-aside
			include ../parts/btns/cta-1-wide.pug

		.banner__content-container
		
			.banner__content
				.emblem
				.full-text-logo
				//- .banner-svg
				//- 	include ../../resources/img/vector/storm.svg
				h1(hidden) Бойцовский Клуб СЭНЭ
				//- Old btn:
				//- div
				//- 	a.btn.btn-glass.btn-video.btn-start Смотреть видео

		aside.banner__second-aside
			#banner-video-control
				.btn-set-compact
					include ../parts/btns/pause-compact.pug
					include ../parts/btns/play-compact.pug
					include ../parts/btns/sound-on-compact.pug
					include ../parts/btns/sound-off-compact.pug

			include ../parts/phone.pug
			include ../modules/social.pug