- const tel = "+7 (495) 150-39-65";
- const telClear = "+74951503965";
- const email = "shturmoscow@gmail.com";
- const title = 'Штурм'
- const vk = 'https://vk.com/shturmmoscow'
- const tg = 'https://t.me/shturmclub'