#slide2.slide(data-anchor="o-nas-2", data-parent="o-nas" data-index="2")
	.info-slide.info-slide_compact-aside
		article.slide-article
			h3 Тренерский состав
			dl.persons-list
				a.persons-list__item.pirson-inter
					.img-container
						img(src="/resources/img/photo/portrait-1.jpg", alt="Денис Зайцев")
					header
						dt Колесников Григорий Константинович
						dd Главный тренер
					
				a.persons-list__item.pirson-inter
					.img-container
						img(src="/resources/img/photo/portrait-2.jpg", alt="Иван Соколов")
					header
						dt Чернышев Михаил Тимофеевич
						dd Тренер методист

				a.persons-list__item.pirson-inter
					.img-container
						img(src="/resources/img/photo/portrait-2.jpg", alt="Денис Зайцев")
					header
						dt Колесников Григорий Константинович
						dd Главный тренер

				a.persons-list__item.pirson-inter
					.img-container
						img(src="/resources/img/photo/portrait-3.jpg", alt="Николай Фролов")
					header
						dt Поляков Артём Романович
						dd Тренер методист

				a.persons-list__item.pirson-inter
					.img-container
						img(src="/resources/img/photo/portrait-1.jpg", alt="Николай Фролов")
					header
						dt Поляков Артём Романович
						dd Тренер методист

		aside.demo-article
			h3 Экскурсия
			a.tour-picture(href="/#o-nas/o-nas-tour")

		a(href="/#o-nas/o-nas-tour" title="Следующий слайд").next-btn.next-btn_compact.next-btn_acent
