#slide2.slide(data-anchor="o-nas-1", data-parent="o-nas" data-index="1")
	.info-slide
		article.slide-article
			h3 Тренировки и&nbsp;отбор
			div
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
				p Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
				p Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies

		aside.list-article 
			h3 Тренерский состав
			dl.persons-list
				a.persons-list__item
					.img-container
						img(src="/resources/img/photo/portrait-1.jpg", alt="Денис Зайцев")
					header
						dt Александр<br>Косьяненко
						dd Главный<br>тренер
					
				a.persons-list__item
					.img-container
						img(src="/resources/img/photo/portrait-2.jpg", alt="Иван Соколов")
					header
						dt Иван<br>Соколов
						dd Тренер<br>методист

				a.persons-list__item
					.img-container
						img(src="/resources/img/photo/portrait-3.jpg", alt="Николай Фролов")
					header
						dt Николай<br>Фролов
						dd Тренер<br>методист

		a(href="/#o-nas/o-nas-2" title="Следующий слайд").next-btn.next-btn_compact