#slide2c.slide(data-anchor="2020-5", data-parent="2020" data-index="5", data-skip="true").last-slide
	.paraslide
		//- .layer-box-3.layer
		.layer.layer-box.layer-box_c
		.layer.layer-numb.layer-numb_e.layer-numb_20
		//- .layer.layer-numb.layer-numb_d.layer-numb_30.layer-numb_mono 
		.layer.layer-text.layer-text_c
			article
				include ../../fish-1.pug
		.layer.layer-video.layer-video_a
			.videoplayer-placeholder
		//- a.layer-next.layer(href='#istorya/2030')
		//- 	span 2030