#slide2.slide(data-anchor="1960-1", data-parent="1960" data-index="1")
	.paraslide
		.layer.layer-box.layer-box_a
		.layer.layer-numb.layer-numb_a.layer-numb_60
		.layer.layer-text.layer-text_a
			article
				h3 Были&nbsp;времена когда всё было&nbsp;иначе, но&nbsp;наш клуб был&nbsp;таким&nbsp;же
				include ../../fish-1.pug
		.layer.layer-img.layer-img_a
			img(src="/resources/img/photo/old-photo-3.png", alt="")
