#slide2b.slide(data-anchor="1960-3", data-parent="1960" data-index="3")
	.paraslide
		.layer.layer-box.layer-box_b
		.layer-60-2.layer
		.layer-text-3.layer
			include ../../fish-1.pug
		.layer-img-2.layer
			img(src="/resources/img/photo/old-photo-4.jpg", alt="")