#slide2c.slide(data-anchor="1960-5", data-parent="1960" data-index="5", data-skip="true").last-slide
	.paraslide
		//- .layer-box-3.layer
		.layer.layer-box.layer-box_c
		.layer-60-3.layer
		.layer-70-0.layer
		.layer-text-3.layer
			article
				include ../../fish-1.pug
		.layer-video-1.layer
			.videoplayer-placeholder
		a.layer-next.layer(href='#istorya/1970')
			span 1970