extends templates/default

block vars
	include data/info

block content


	main#main-content
		.section.active(data-anchor="bojcovskij-klub")
			include sections/video-banner

		.section(data-anchor="istorya")
			include sections/history/main

		.section(data-anchor="o-nas")
			include sections/about/main

		.section(data-anchor="informaciya")
			include sections/info

		.section(data-anchor="kontakty")
			include modules/footer

	#flow
		aside#site-menu
			include modules/aside-menu
		include modules/mobile-header
		#blackout
		include parts/popup
		include parts/note