extends templates/default

block vars
	include data/info

block content
	include modules/header

	main#main-content
		.section.auto-video.active(data-anchor="bojcovskij-klub")
			.section__content
				include sections/video-banner

		.section(data-anchor="o-nas")
			.section__content
				include sections/about-2/main

		.section(data-anchor="informaciya")
			.section__content
				include sections/info-2/main

		.section(data-anchor="kontakty")
			.section__content
				include modules/footer

	#flow
		aside#site-menu
			include modules/aside-menu
		include modules/mobile-header
		#blackout
		include parts/popup
		include parts/note