extends templates/default

//- block vars
//- - const tel = "+7 123-45-67";
//- - const telClear = "+71234567";
//- - const email = "e-mail@yandex.ru";
//- - const title = 'Штурм'

block content

	main#main-content

		.section.active
			include sections/video-banner

		.section
			#slide1.slide
				include sections/history

			#lside2.slide
				big — Слайд 2 —

			#slide3.slide
				big — Слайд 3 —

		.section
			.intro
				include sections/about

		.section
			.intro
				include sections/info

		.section
			.intro
				include modules/footer