extends templates/default

block vars
	include data/info

block content

	main#main-content
		.section.active
			include sections/video-banner

		.section
			#slide1.slide
				include sections/history

			#lside2.slide
				center — Слайд 2 —

			#slide3.slide
				center — Слайд 3 —

		.section
			include sections/about

		.section
			include sections/info

		.section
			include modules/footer