.section.active
    include sections/video-banner.pug

.section
    #slide1.slide
        include sections/history.pug

    #lside2.slide
        big — Слайд 2 —

    #slide3.slide
        big — Слайд 3 —

.section
    .intro
        include sections/about.pug

.section
    .intro
        include sections/info.pug

.section
    .intro
        include modules/footer.pug
