doctype html
html(lang="ru-RU")
    head
        include modules/head.pug

    body

        #wrapper

            include modules/header.pug
            include modules/menu.pug

            #myContainer

                #section.section.active
                    //- h1 Section 1
                    include sections/video-banner.pug

                #section1.section
                    #slide1.slide
                        .intro
                            include sections/history.pug

                    #lside2.slide
                        .intro
                            h1 Slide 2.2
                            p We are using the class &grave;active&grave; on this section and in this particular horizontal slide. This way it will appear on the viewport on page load, instead of the 1st section 1st slide.
                            p You can apply the same logic to horizontal slides
                    #slide3.slide
                        h1 Slide 2.3

                #section2.section
                    .intro
                        //- h1 Section 3
                        include sections/about.pug

                #section3.section
                    .intro
                        //- h1 Section 3
                        include sections/info.pug


            include modules/end.pug