#slide2.slide(data-anchor="1900-1", data-parent="1900" data-index="1")
	.paraslide
		.layer.layer-box.layer-box_a
		.layer.layer-numb.layer-numb_a.layer-numb_00
		.layer.layer-text.layer-text_a
			article
				h3 Были времена когда всё было иначе, но&nbsp;наш клуб был таким&nbsp;же
				include ../../fish-1.pug
		.layer.layer-img.layer-img_a
			img(src="/resources/img/photo/old-photo-3.png", alt="")
