#slide2b.slide(data-anchor="1900-3", data-parent="1900" data-index="3")
	.paraslide
		.layer.layer-box.layer-box_b
		.layer.layer-numb.layer-numb_b.layer-numb_60
		.layer.layer-text.layer-text_c
			include ../../fish-1.pug
		.layer.layer-img.layer-img_b
			img(src="/resources/img/photo/old-photo-4.jpg", alt="")