@import "parts.less";
@import "header.less";

::selection {
	background: #ffffff6b;	
}

body {
	background-color: var(--back-color);
	color: var(--text-color);
	font-family: var(--font-famaly);
	font-size: var(--text-size);
	overflow-x: hidden;
}

#wrapper {
	position: relative;
}

/*
 * Slider
 */
.slide-section {
	height: 100vh;
	overflow: hidden;
}
.fp-tableCell {
	vertical-align: baseline;
	background-color: var(--back-color);
}
.slide .fp-tableCell {
	background-color: var(--passive-color-2);
}
// .timeline-attached {

// 	& > ul {
// 		display: none;
// 	}

// 	& #timeline {
// 		display: initial;
// 	}

// }

.fp-slidesNav.fp-top {
	top: 0;
}