@import "parts.less";
@import "header.less";

::selection {
	background: #c6c8ca93;	
}

body {
	background-color: var(--back-color);
	color: var(--text-color);
	font-family: var(--font-famaly);
	font-size: var(--text-size);
	overflow-x: hidden;
}

#wrapper {
	position: relative;
}
.fullpage-wrapper {
	background-color: black;
}
.slide.slide_glass {
	.fp-tableCell {
		background: none;
		background-color: transparent;
	}
}
.longread li {
	list-style: disc;
	margin-left: 1em;
}
.section__content {
	height: 100%;
}
// .fp-section {
// 	align-items: center;
// 	display: flex;
// 	justify-content: center;
// }
/*
 * Slider
 */
.slide-section {
	// padding-top: var(--header-size);
	// height: 100vh;
	height: 100%;
	overflow: hidden;

	// &.banner {
	// 	height: initial;
	// 	padding-top: initial;
	// }
}
.fp-tableCell {
	vertical-align: baseline;
	background-color: var(--back-color);
}
.slide .fp-tableCell {
	background-color: var(--passive-color-2);
}
// .timeline-attached {

// 	& > ul {
// 		display: none;
// 	}

// 	& #timeline {
// 		display: initial;
// 	}

// }
// .fp-slide,
// .slide,
// .fp-slidesContainer {
// 	height: 100vh;
// }
.fp-slidesNav {
	display: none;
	&.fp-top {
		top: 0;
	}
}


.to-slide-top {
	max-height: calc(100vh - var(--header-size));
	position: absolute;
	z-index: 10;
}

.back-video {
	height: 100%;
	background-color: black;
	// height: calc(100vh - var(--header-size));
	position: absolute;
	width: 100%;
	opacity: .7;
	z-index: -1;
	// &:before {
	// 	content: '';
	// 	background-color: rgba(0, 0, 0, 0.3);
	// 	display: block;
	// 	height: 100%;
	// 	left: 0;
	// 	position: absolute;
	// 	top: 0;
	// 	width: 100%;
	// }
}

#flow {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	user-select: none;
	width: 100vw;
	z-index: 50;
}
#blackout {
	background-color: transparent;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: background-color .8s;
	user-select: none;
	width: 100%;

	&.active {
		background-color: #00020454;
		cursor: pointer;
		pointer-events: all;
		user-select: text;
	}
}


.flow-anim {
	opacity: 0;
	transition: 1s;

	animation-name: flow-1;
	animation-duration: .85s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;

  animation-play-state: paused;

	.section.active & {
		animation-play-state: running;
	}

	&_1 {
		transform: translateY(-20vh);
		animation-delay: .4s;
	}

	&_2 {
		transform: translateY(20vh);
		animation-delay: 1.1s;
	}

	&_3 {
		transform: translateY(20vh);
		animation-delay: 1.8s;
	}
}

@keyframes flow-1 {
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.scroll {
	--scroll-thumb-color: #813c3c;
	--scroll-track-color: rgba(121, 61, 61, .5);
	--scroll-radius: 20px;

	&::-webkit-scrollbar {
		width: 8px;
		
	}
	
	&::-webkit-scrollbar-track {
		background-color: var(--scroll-track-color);
		border-radius: var(--scroll-radius);
	}
	
	&::-webkit-scrollbar-thumb {
		&:hover {
			--scroll-thumb-color: #973c3c;
		}
		background-color: var(--scroll-thumb-color);
		border-radius: var(--scroll-radius);
	}
}


.news-list {
	display: grid;
	grid-gap: 1em 2em;
	grid-template-columns: 5fr 6fr;
	grid-template-rows: 1fr 1fr 1fr;

	h3 {
		&:before {
			display: none;
		}
	}

}

.news {
	display: flex;
	background-color: var(--passive-color-1a);
	border-bottom: 2px solid var(--acent-color);
	color: var(--text-color);
	// font-size: .8em;

	// @media (max-width: @size-md) and (min-height: 600px) {
	// 	font-size: 1em;
	// }
	// @media (max-width: @size-md) and (min-height: 720px) {
	// 	font-size: 1.3em;
	// }
	&__content {
		display: flex;
		flex-direction: column;
		grid-gap: .2em;
		justify-content: space-between;
		padding: 1.7em 1.8em;
		width: 100%;
	}

	&__main,
	&__footer {
		z-index: 1;
	}

	&_imaged {
		--text-color: var(--passive-color);
		--acent-color: var(--text-color);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		flex-direction: column;
		justify-content: flex-end;

		.news__content {
			padding-bottom: 2em;
			position: relative;

			&:before {
				background-image: linear-gradient(0deg, black, transparent);
				bottom: 0;
				content: '';
				display: block;
				height: 150%;
				left: 0;
				position: absolute;
				width: 100%;
			}
		}
		a {
			--text-color: var(--passive-color);
		}
		svg {
			filter: grayscale(1) invert(1);
		}
	}

	&__footer {
		align-items: center;
		color: var(--acent-color);
		display: flex;
		font-size: .9em;
		justify-content: space-between;
		margin-top: .3em;

		a {
			font-weight: bold;
			font-style: italic;
			color: var(--text-color);
		}
		// svg path {
		// 	fill: var(--text-color);
		// }
	}

	&__more-link {
		display: flex;
		align-items: center;
		grid-gap: .4em;
	}
}

.promo {
	padding: 1.1em 0 1.1em 1.3em;
	margin-bottom: 1em;
	// @media (max-width: @size-md) {
	// 	font-size: 1em;
	// }
	&__body {
		align-items: flex-start;
		display: flex;
		grid-gap: 2em;
		justify-content: space-between;
		width: 100%;

		@media (max-width: @size-lg--) {
			flex-direction: column;
		}

		@media (max-width: @size-md--) {
			flex-direction: column;
			.btn-wide {
				// max-width: 280px;
				max-width: 22em;
				width: 100%;
			}
		}
	}
	&__text {
		// font-size: 1.12em;
	}
	@media (max-width: @size-md--) {
		padding-right: 1.1em;
	}
	.btn {
		font-size: 1.12em;

		@media (max-width: @size-md--) {
			width: 100%;
			font-size: 1.3em;
			max-width: initial;
		}
		&:hover {
			color: var(--passive-color);
		}
	}
}
