* { 
  margin: 0; // TODO fix normaliz: put it to begin of css
  padding: 0;
} 
::selection {
  background: #ffffff6b; // maybe not working, check
}
body {
  --text-color: var(--passive-color);
  background-color: var(--passive-color-2);
  color: var(--text-color);
  font-family: var(--font-famaly);
  font-size: 24px;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: inherit;
}
small {
  font-size: 14px;
}
h1 {
  font-size: 32px;
  font-weight: 500;
  margin: .4em 0 .74em;
}
.monsto-title {
  font-size: 304px;
  font-weight: 600;
  line-height: 220px;
  letter-spacing: .052em;
}

/**/

.btn {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.044em;
  padding: .49em 1.68em .47em;
  text-transform: uppercase;
  position: relative;

  &-glass {
    --color: var(--text-color);
    border: 1px solid var(--color);
  }
  &-video:after {
    content: '';
    background-image: url('/resources/img/vector/icons/play.svg');
    background-position: ~"calc(100% - .64em) center";
    background-repeat: no-repeat;
    background-size: 44%;
    border-left: none;
    border-style: inherit;
    border-width: 1px 1px 1px 0;
    border-width: inherit;
    box-sizing: content-box;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(100%, -1px);
    width: 2.6em;
  }
}

/**/

#wrapper {
  position: relative;
}

#main-header {
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 10;
  padding: ~"var(--column-mini-unit) var(--column-unit)";
}
.burger {
  --width: 60px;
  --height: 60px;
  --line-with: 32px; /*TODO*/
  --line-margin: 3px;
  --color: var(--text-color);
  border-radius: 50%;
  border: 2px solid var(--color);
  cursor: pointer;
  display: block;
  height: 60px;
  transition: .26s;
  width: 60px;

  // .menu-opened & {
  //   --color: var(--acent-color);
  // }

  &:hover {
    opacity: .8;
  }
  &__lines {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    hr {
      border: 1px solid var(--color);
      margin: var(--line-margin) 0;
      width: var(--line-with);
    }
  }
}
// .menu-opened
#menu {
  left: -100%;
  position: fixed;
  transition: .6s;
  z-index: 5;

  .menu-opened & {
    left: 0;
  }
}

.menu {
  backdrop-filter: blur(50px);
  background-color: #000000B2;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
}


/**/

.slide-section {
  height: 100vh;
}

/**/


.video-banner {
  background-image: url('/resources/img/video-placeholder.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  // grid-template-columns: 1fr auto 1fr;
  grid-template-columns: 18vh auto 18vh;
  // max-height: 834px;

  &__content {

    &-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 18vw;
      padding-top: 15vh;
    }
  
  }

  &__first-aside {
    align-items: center;
    display: flex;
    justify-content: center;

    > a {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: .042em;
      transform: rotate(-90deg);
    }
  }

  &__second-aside {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: var(--column-mini-unit);

    > .social {
      display: flex;
      grid-gap: .4em;
    }
  }
}


.history {
  --nav-size: ~"calc(var(--column-unit) * 3)";
  --strip-size: ~"calc(var(--column-unit) * 3.4)";
  background-color: var(--passive-color-3);
  display: grid;
  grid-template-rows: var(--nav-size) auto;

  &__time-line {
    display: flex;
    grid-gap: 2em;
    justify-content: flex-end;
    padding: 1.4em;
    font-size: 32px;

      > li {
        padding: 0;
      }
  }

  &__banner {
    background-image:
      linear-gradient(
        180deg,
        #ffffff00 ~"calc(100% - var(--strip-size))",
        var(--acent-color) var(--strip-size)
      ),
      url("/resources/img/photo/old-photo-1-dark.jpg");
    background-position: right top, right ~"calc(100% + 27vh)";
    background-repeat: no-repeat;
    background-size: cover;

    &-text {
      display: grid;
      gap: 2.52em 0;
      padding: ~"8vh 4vw 0 calc(var(--column-mini-unit) * 4)";
      text-transform: uppercase;
  
      > .monsto-title:first-child {
        grid-column-start: 1;
        grid-column-end: 3;

        &::after {
          content: '-';
        }
      }
      h2 {
        letter-spacing: .0054em;
        transform: translateY(-.28em);
        font-size: 32px;
      }
    }
  }
}