@import "fonts.less";
@import "normalize.less";
@import "variables.less";
@import "common.less";
@import "sections/main.less";

// * { // For dev only
// 	transition: .1s;
// }
big {
	background-color: steelblue;
	display: inline-block;
	font-size: 2em;
	opacity: .66;
}