a {
	color: inherit;
	text-decoration: inherit;

	&:hover {
		text-decoration: underline;
	}
}
small {
	font-size: var(--text-size-compact);
}
h1, h2, h3 {
	text-transform: uppercase;
}
h1 {
	font-size: var(--text-size-large);
	font-weight: 500;
	margin: .4em 0 .74em;
}
h2 {
	font-size: var(--text-size-huge);
}
h3 {
	font-size: var(--text-size-large);
	line-height: 1.52em;
	position: relative;
	z-index: 2;

	&::before {
		background-color: var(--acent-color);
		content: '';
		display: block;
		height: .54em;
		left: -.76em;
		position: absolute;
		top: .88em;
		width: 225px; // TODO fix size (max/min?)
		z-index: -1; // TODO not sure
	}
}
.mega-title {
	font-size: var(--text-size-mega);
}
// .ultra-title { // used svg
//   font-size: var(--text-size-ultra);
// }
.monsto-title {
	font-size: var(--text-size-monsto);
	font-weight: 600;
	line-height: 220px;
	letter-spacing: .052em;
}
.acent-title {
	color: var(--acent-color);
}
// .side-title {
//   line-height: 1em;
//   transform: rotate(-90deg) translateY(.88em);
//   position: relative;
// }

/**/

.btn {
	display: inline-block;
	font-size: var(--text-size-normal);
	letter-spacing: 0.044em;
	padding: .49em 1.68em .47em;
	text-transform: uppercase;
	position: relative;

	&-glass {
		--color: var(--text-color);
		border: 1px solid var(--color);
	}
	&-video:after {
		content: '';
		background-image: url('/resources/img/vector/icons/play.svg');
		background-position: ~"calc(100% - .64em) center";
		background-repeat: no-repeat;
		background-size: 44%;
		border-left: none;
		border-style: inherit;
		border-width: 1px 1px 1px 0;
		border-width: inherit;
		box-sizing: content-box;
		display: block;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(100%, -1px);
		width: 2.6em;
	}
}
.next-btn {
	background-color: var(--back-color);
	background-image: url(/resources/img/vector/icons/arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 94px;
	display: block;
	height: 100%;
	width: 100%;
}

/**/

.numb-list {
	counter-reset: list-counter;
	font-size: var(--text-size-normal);
	line-height: 1.34em;
	list-style: none;
	li {
		counter-increment: list-counter;
		display: flex;
		margin-bottom: 1em;
		> span {
			padding-top: .06em;
		}
	}
	li::before {
		background-image: linear-gradient(to bottom, #ff000000 0%, #ff000000 26%, var(--acent-color) 0%, var(--acent-color) 78%, #ffa50000 0%);
		content: counter(list-counter);
		display: block;
		font-size: var(--text-size-big);
		font-weight: bold;
		height: 1em;
		margin-right: .8em;
		padding: 0 .22em 0 .88em;
	}
}

/**/

.glass-form {
	--color: var(--text-color);
	--border: 1px solid var(--text-color);
	--back: none;
	input {
		&[type=text] {
			background: var(--back);
			border: var(--border);
			color: inherit;
			font-size: var(--text-size-compact);
			font-weight: 300;
			padding: .6em .9em;
			text-transform: uppercase;
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 1.7em;
			}
		}
		&[type=button] {
			border: var(--border);
			background: var(--back);
			color: inherit;
			font-size: var(--text-size-normal);
			text-transform: uppercase;
			padding: .46em 1em;
		}
		&[type=checkbox] {
			& + label {
				font-size: var(--text-size-micro);
			}
		}
	}
	a {
		font-weight: 400;
	}
	label + p {
		margin-top: .6em;
	}

	.checkbox {
		cursor: pointer;
		font-size: 360%;

		input[type="checkbox"] {
			display: grid;
			place-content: center;
			appearance: none;
			cursor: inherit;

			&::before {
				content: "";
				background-image: url('resources/img/vector/icons/check.svg');
				background-position: 50% 53%;
				background-repeat: no-repeat;
				background-size: 0%;
				border: var(--border);
				height: 0.74em;
				transition: .1s;
				width: 0.74em;
			}
			&:checked::before {
				background-size: 70%;
			}
		}

		&-container {
			align-items: flex-start;
			display: flex;
			grid-gap: 1em;

			label {
				cursor: pointer;
			}
		}
	}



	small,
	.form-actions {
		font-size: var(--text-size-micro);
		font-weight: 300;
	}
	/* &__note {
		margin-top: .8em;
	} */

}

.form-actions {
	display: grid;
	grid-gap: .8em;
	grid-template-columns: 1fr 1fr;
	margin-top: 2.2em;

	.btn {
		width: 100%;
	}
}