a {
	&:hover {
		text-decoration: underline;
	}
}
small {
	font-size: var(--text-size-compact);
}
h1, h2, h3 {
	text-transform: uppercase;
}
h1 {
	font-size: var(--text-size-large);
	font-size: 1.32em;
	font-weight: 500;
	margin: .4em 0 .74em;
}
h2 {
	font-size: var(--text-size-huge);
}
h3 {
	font-size: var(--text-size-large);
	font-size: 1.32em;
	line-height: 1.52em;
	position: relative;
	z-index: 2;

	&::before {
		background-color: var(--acent-color);
		content: '';
		display: block;
		height: .54em;
		left: -.76em;
		position: absolute;
		top: .88em;
		width: 7em;
		z-index: -1; // TODO not sure
	}
}
.mega-title {
	font-size: var(--text-size-mega);
}
// .ultra-title { // used svg
//   font-size: var(--text-size-ultra);
// }
.monsto-title {
	font-size: var(--text-size-monsto);
	font-weight: 600;
	line-height: 220px;
	letter-spacing: .052em;
}
.acent-title {
	color: var(--acent-color);
}
// .side-title {
//   line-height: 1em;
//   transform: rotate(-90deg) translateY(.88em);
//   position: relative;
// }

/**/


.btn {
	cursor: pointer;
	display: inline-block;
	font-size: .8em;
	letter-spacing: 0.044em;
	padding: .5em .8em .47em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: .26s;
	background-color: initial;

	&:hover {
		transition: .14s;
		text-decoration: none;
		box-shadow: inset 0 0 1px 2px var(--color);
	}
	&:disabled {
		opacity: .32;
		cursor: inherit;
		&:hover {
			box-shadow: none;
		}
	}

	&-glass {
		--color: var(--text-color);
		border: 1px solid var(--color);
	}
	&-video:after {
		content: '';
		background-image: url('/resources/img/vector/icons/play.svg');
		background-position: ~"calc(100% - .64em) center";
		background-repeat: no-repeat;
		background-size: 44%;
		border-left: none;
		border-style: inherit;
		border-width: 1px 1px 1px 0;
		border-width: inherit;
		box-sizing: content-box;
		display: block;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(100%, -1px);
		width: 2.6em;
	}
	&-compact {
		padding: 0;
		height: 2.2em;
		width: 2.2em;
	}
	&-pause,
	&-play,
	&-sound-on,
	&-sound-off {
		background-position: center;
		background-repeat: no-repeat;
	}
	&-pause {
		background-image: url('/resources/img/vector/icons/pause.svg');
		background-size: 32%;
	}
	&-play {
		background-color: var(--acent-color);
		background-image: url('/resources/img/vector/icons/play.svg');
		background-position: center;
		background-size: 51%;
	}
	&-sound-on {
		background-image: url('/resources/img/vector/icons/sound-on.svg');
		background-size: 54%;
	}
	&-sound-off {
		background-image: url('/resources/img/vector/icons/sound-off.svg');
		background-size: 54%;
	}

	&-set-compact {
		display: flex;
		border-left: 1px solid var(--passive-color);
		> .btn {
			border-left: none;
		}
		// > .btn + .btn {
		// 	border-left: none;
		// }
	}
}


.next-btn {
	background-color: var(--back-color);
	background-image: url(/resources/img/vector/icons/arrow.svg);
	background-position: 50% 50%; // TODO 
	background-repeat: no-repeat;
	background-size: 72%;
	cursor: pointer;
	display: block;
	height: 100%;
	position: relative;
	transition: background-position .4s;
	width: 100%;
	&:hover {
		background-position: 75% 50%;
	}

	&_compact {
		background-position: left center;
	}

	&_acent {
		background-color: var(--acent-color);
		background-image: url(/resources/img/vector/icons/arrow-white.svg);
	}

	&_anim {
		position: relative;
		z-index: 1;
		animation: shake 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) both infinite;
		backface-visibility: hidden;
	}
	// background-image: url('resources/img/placeholder.png') !important;
	// background-size: cover !important;
		
	&_fix-strip::before {
		content: '';
		background-color: var(--passive-color);
		display: block;
		height: 100%;
		position: absolute;
		right: 100%;
		top: 0;
		transform: translateX(1px);
		width: 2px;
	}
}

@keyframes shake {
	0%, 23% {
		transform: translateX(0);
	}
	15% {
		transform: translateX(calc(var(--column-unit) * -1));
	}
}

.about__banner:after {
	content: '';
	display: block;
	height: 100%;
	width: calc(var(--column-mini-unit) * 2);
	background-color: var(--acent-color);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}

/**/

.numb-list {
	counter-reset: list-counter;
	// font-size: var(--text-size-normal);
	font-size: .8em;
	line-height: 1.34em;
	list-style: none;
	li {
		counter-increment: list-counter;
		display: flex;
		margin-bottom: 1.1em;
		> span {
			padding-top: .06em;
		}
	}
	@media (min-width: @size-xg--) and (max-width: @size-hd--) {
		font-size: .75em;

		li {
			margin-bottom: 1.1em;
		}
	}
	@media (min-width: @size-lg) and (max-width: @size-xg--) {
		font-size: .7em;
		li {
			margin-bottom: 1em;
		}
	}
	@media (min-width: @size-md) and (max-width: @size-lg--) {
		font-size: .7em;
		li {
			margin-bottom: .6em;
		}
	}
	li::before {
		background-image: linear-gradient(to bottom, #ff000000 0%, #ff000000 26%, var(--acent-color) 0%, var(--acent-color) 82%, #ffa50000 0%);
		content: counter(list-counter);
		display: block;
		font-size: var(--text-size-big);
		font-weight: bold;
		height: 1em;
		margin-right: .8em;
		padding: 0 .22em 0 .88em;
	}
}

/**/

.glass-form {
	--text-color: #ffffff94;
	--color: var(--text-color);
	--border: 1px solid var(--text-color);
	--back: none;
	input {
		&[type=text] {
			background: var(--back);
			border: var(--border);
			color: inherit;
			font-size: var(--text-size-compact);
			font-weight: 300;
			padding: .6em .9em;
			text-transform: uppercase;
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 1.7em;
			}
		}
		&[type=button] {
			border: var(--border);
			background: var(--back);
			color: inherit;
			font-size: var(--text-size-normal);
			text-transform: uppercase;
			padding: .46em 1em;
		}
		&[type=checkbox] {
			& + label {
				font-size: var(--text-size-micro);
			}
		}
	}
	a {
		font-weight: 400;
	}
	label + p {
		margin-top: .6em;
	}
	.legal {
		font-size: .9em;
	}

	.checkbox {
		cursor: pointer;
		font-size: 360%;

		input[type="checkbox"] {
			display: grid;
			place-content: center;
			appearance: none;
			cursor: inherit;

			&::before {
				content: "";
				background-image: url('resources/img/vector/icons/check.svg');
				background-position: 50% 53%;
				background-repeat: no-repeat;
				background-size: 0%;
				border: var(--border);
				height: .54em;
				transition: .1s;
				width: .54em;
				transition: .26s;
			}
			&:checked::before {
				background-size: 70%;
			}
			&:hover:before {
				box-shadow: inset 0 0 1px 2px var(--color);
				transition: .14s;
			}
			&:checked:hover:before {
				box-shadow:  inset 0 0 1px 1px var(--color);
			}
		}

		&-container {
			align-items: flex-start;
			display: flex;
			grid-gap: 1em;

			label {
				cursor: pointer;
				user-select: none;
			}
		}
	}



	small,
	.form-actions {
		// font-size: var(--text-size-micro);
		font-size: .7em;
		font-weight: 300;

		@media (min-width: @size-lg) and (max-width: @size-xg--) {
			font-size: .9em;
		}
	}

	// .form-actions {
	// 	@media (max-width: @size-xg--) {
	// 		display: flex;
	// 		flex-direction: column;
	// 	}
	// }
	&__note {
		margin-top: .72em;
	}

}

.form-actions {
	display: grid;
	grid-gap: .8em;
	grid-template-columns: 1fr 1fr;
	margin-top: 2.2em;

	.btn {
		width: 100%;
	}
	
	@media (min-width: @size-lg) and (max-width: @size-xg--) {
		display: flex;
		flex-direction: column-reverse;
		font-size: 1em;
		grid-gap: 1.8em;
	}
}

/**/

.videoplayer-placeholder {
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: center;

	&:before {
		background-image: url('resources/img/vector/icons/play-2.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		content: '';
		display: block;
		height: 80px;
		position: absolute;
		width: 80px;
	}
}

.side-title {
	align-items: flex-end;
	display: flex;
	height: 100vh;
	justify-content: center;
	left: var(--column-unit);
	// padding: var(--row-mini-unit) 0;
	width: calc(var(--column-unit) * 2);

	@media (min-width: @size-md) and (max-width: @size-lg--) {
		transition: 1s;
		.inside-slider & {
			left: 0;
		}
	}

	svg {
		opacity: .4;
		transform: translateX(1px);
		z-index: 1;
		// background-color: rgba(186, 85, 211, 0.116);
		// transform: scale(.9);

		// @media (min-width: @size-xg-min) {
		// 	transform: scale(1.12);
		// }
		// @media (min-width: @size-md-min) and (max-width: @size-xg-max) {
		// 	transform: scale(.8);
		// 	// background-color: rgba(255, 127, 80, 0.13);
		// }

		// @media (min-width: @size-sm-min) and (max-width: @size-md-max) {
		// 	transform: scale(.7);
		// 	// background-color: rgba(70, 131, 180, 0.075);
		// }

		// @media (min-width: @size-xs-min) and (max-width: @size-sm-max) {
		// 	transform: scale(.6);
		// 	// background-color: rgba(34, 139, 34, 0.089);
		// }

	}

	&::before {
		content: '';
		background-color: var(--acent-color);
		bottom: 0;
		display: block;
		height: 50vh;
		position: absolute;
		right: 2px;
		transition: .8s;
		width: 68%;
	}

	// .segmented-title {
	// 	display: grid;
	// 	grid-template-rows: 50% 50%;
	// 	height: 100%;
	// 	transform-origin: bottom;
	// 	transition: 1.2s;

	// 	.part-1,
	// 	.part-2 {
	// 		display: flex;
	// 		justify-content: end;
	// 	}
	// }
	.imaged-title {
		background-image: url('/resources/img/vector/about-title.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
    height: 100%;
    width: 100%;
		position: absolute;
		transition: .8s;
		transform-origin: bottom center;
	}

	.part-1 {
		align-items: flex-start;
		position: relative;

		svg {
			transform-origin: top right;
		}

	}
	.part-2 {
		align-items: flex-end;
		order: -1;

		svg {
			transform-origin: bottom right;
		}

	}
}
// .fp-section.active .side-title {
// 	background-color: rgba(70, 131, 180, 0.62);
// }
// .inside-slider {
// 	opacity: .66;
// }
.inside-slider .side-title {
	// background-color: rgba(255, 127, 80, 0.12) !important;

	&::before {
		right: 0;
		height: 100vh;
		width: 100%;
	}
	.imaged-title {
		transform:scale(.45);
	}
	// .segmented-title {
	// 	transform: scale(0.5);
	// }
	// .part-1,
	// .part-2 {
  //   width: 50%;
	// }
}

// .next-btn {
// 	// opacity: .7;
// 	right: 0;
// 	width: var(--left-column-width);
// }



.persons-list {
	/* TODO Fix img size */
	--img-size: calc(var(--column-unit) * 2.5);
	--head-size: calc(var(--column-unit) * 3.5);
	--move: ~"calc(var(--column-mini-unit) * 0.5)";
	--move-m: ~"calc(var(--move) * -1)";
	--color: var(--acent-color);
	// display: grid;
	// grid-template-columns: repeat(auto-fill, ~"calc(var(--column-unit) * 5)");
	display: flex;
	flex-wrap: wrap;
	font-size: .84em;
	grid-gap: var(--column-unit);
	justify-content: flex-start;
	padding-top: var(--move);

	&__item {
		// display: flex;
		// grid-gap: var(--column-mini-unit);
		// width: ~"calc(var(--column-unit) * 5)";
		display: grid;
		font-size: .8em;
		grid-template-columns: var(--img-size) var(--head-size);
		margin-left: var(--move);
		text-decoration: none;
		transition: .3s;

		@media (max-width: @size-xg--) {
			font-size: .9em;
		}
		&:hover {
			text-decoration: inherit;
		}
		header {
			padding-left: calc(var(--move) * 1.4);
			word-wrap: break-word;
			@media (max-width: @size-hd--) {
				padding-left: calc(var(--move) * 2.4);
			}
		}

		dt {
			font-weight: 700;
			line-height: 1.36em;
			text-transform: uppercase;
			margin: .4em 0 .4em;
		}
		dd {
			line-height: 1.12em;
		}

		// > header {
		// 	margin-left: var(--column-mini-unit);
		// }
	}
	
	.img-container {
		// background-color: var(--color);
		height: var(--img-size);
		width: var(--img-size);

		img {
			// box-shadow: 0 0 0 var(--color);
			box-shadow: var(--move) var(--move) 0 0 var(--color);
			transition: .3s;
			height: 100%;
			transform: translate(var(--move-m), var(--move-m));
			width: auto;
		}
	}
}
.person-inter {
	cursor: help;

	&:hover {
		--color: var(--passive-color-1);
	}
}

.slide-article,
.list-article {
	// padding-left: var(--left-column-width);
	// padding-right: var(--row-unit);
	height: 100vh;
	padding-top: var(--row-unit);
	h3 {
		margin-bottom: var(--row-mini-unit);
	}
	p+p {
		margin-top: 1em;
	}
	@media /*(min-width: @size-xg) and*/ (max-width: @size-hd--) {
		padding-top: calc(var(--row-unit) / 2);
	}
}

.slide-article {
	// padding-left:  var(--left-column-width);
	// padding-right: var(--left-column-width);
	padding-left: calc(var(--column-unit) * 2);
	padding-right: calc(var(--column-unit) * 1.5);

	// &__text {
	// 	font-size: .8em;
	// }
	@media (min-width: @size-md) and (max-width: @size-lg--) {
		font-size: .9em;
		padding-left: var(--column-unit);
		padding-right: var(--column-unit);
	}
	&__text {
		@media (min-width: @size-xg) and (max-width: @size-hd--) {
			font-size: .8em;
		}
		@media (min-width: @size-lg) and (max-width: @size-xg--) {
			font-size: .9em;
		}
		@media (min-width: @size-md) and (max-width: @size-lg--) {
			font-size: .9em;
		}
	}
}
.list-article {
	background-color: var(--passive-color);
	color: var(--passive-color-3);
	padding-left: var(--column-unit);
	padding-right: var(--column-unit);
	h3 {
		&::before {
			background-color: var(--passive-color-1);
		}
	}
}

.social {
	a {
		display: inline-block;
		transition: transform .3s;
		&:hover {
			transform: translateY(-.12em);
		}
	}
}

.popup {
	align-items: center;
	backdrop-filter: var(--backdrop-blur);
	background-color: var(--backdrop-color);
	display: flex;
	height: 100vh;
	padding: var(--row-mini-unit) var(--left-column-width) var(--row-mini-unit) var(--column-unit) ;
	pointer-events: all;
	position: fixed;
	right: -100%;
	top: 0;
	transition: right 1.1s;
	user-select: text;
	width: calc(var(--left-column-width-full) * 3);

	@media (min-width: @size-lg) and (max-width: @size-xg--) {
    padding-right: var(--column-unit);
	}

	&__content {
		margin-bottom: .4em;
		@media (min-width: @size-lg) and (max-width: @size-xg--) {
			margin-bottom: 2em;
			line-height: 1.22em;
		}
	}

	&__title {
		margin-bottom: 0.8em;
		@media (min-width: @size-lg) and (max-width: @size-xg--) {
			line-height: 1.5em;
		}
		h2 {
			font-size: 1.2em;
		}
	}

	&__text {
		font-size: .76em;

		p+p {
			margin-top: .76em;
		}
	}

	.popupShowed & {
		right: -2px;
		transition: right .48s;
	}
}
.close-popup {
	background-image: url('resources/img/vector/icons/x.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1em;
	cursor: pointer;
	height: 2em;
	pointer-events: all;
	transition: transform .44s;
	width: 2em;

	&:hover {
		opacity: .8;
		transform: rotate(180deg);
	}

	&__container {
		right: var(--column-mini-unit);
		top: 0;
	}
}

.side-icon {
	align-items: center;
	display: flex;
	height: var(--row-unit);
	justify-content: center;
	pointer-events: none;
	position: absolute;
	user-select: none;
	width: calc(var(--column-unit) * 2);
	z-index: 50;
}
.note {
	// TODO Fix dimnamic size
	align-items: center;
	backdrop-filter: var(--backdrop-blur);
	background-color: var(--backdrop-color);
	background: #000000ad;
	bottom: calc(var(--row-unit) * .5);
	cursor: pointer;
	display: none;
	height: calc(var(--row-unit) * 3/5);
	pointer-events: all;
	position: absolute;
	text-transform: uppercase;
	user-select: text;
	// width: calc(var(--column-unit) * 6);

	&__content {
		align-items: center;
		display: flex;
		font-size: 0.68em;
		font-weight: 700;
		grid-gap: var(--column-mini-unit);
		height: 100%;
		justify-content: center;
		letter-spacing: .02em;
		padding: 0 var(--column-mini-unit);
	}


	&_success {
		.note__content:before {
			content: '';
			background-image: url('/resources/img/vector/icons/check-cicle.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			display: block;
			height: 100%;
			width: var(--column-unit);
		}
	}
}

