:root {
	--passive-color: #ffffff;
	--passive-color-2: #363636;
	--passive-color-3: #000000;
	--acent-color: #793d3d;
	--font-famaly: 'Roboto';
	--column-unit: 6vh;
	--column-mini-unit: ~"calc(var(--column-unit)*.66)";
	--form-width: 30.6vw;
	--text-size: var(--text-size-big);
	--text-color: var(--passive-color);
	--back-color: var(--passive-color);

	--text-size-monsto: 304px;
	--text-size-ultra:  150px;
	--text-size-mega:   113px;
	--text-size-huge:    60px;
	--text-size-large:   32px;
	--text-size-big:     24px;
	--text-size-medium:  18px;
	--text-size-normal:  16px;
	--text-size-compact: 14px;
	--text-size-small:   12px;
	--text-size-micro:   11px;

	// TODO Sizes
	--TEMP-size-1: 156px;
	--timeline-height: 148px; 
}