:root {
	--passive-color: #ffffff;
	--passive-color-2: #363636;
	--passive-color-3: #000000;
	--acent-color: #793d3d;
	--font-famaly: 'Roboto';
	--column-unit: 6vh;
	--column-mini-unit: ~"calc(var(--column-unit)*.66)";
	--TEMP-size-1: 156px; // TODO

	--text-size-monsto: 304px;
	--text-size-ultra:  150px;
	--text-size-mega:   113px;
	--text-size-huge:    60px;
	--text-size-large:   32px;
	--text-size-medium:  24px;
	--text-size-normal:  16px;
	--text-size-small:   14px;
	--text-size-micro:   11px;
}