:root {
    --passive-color: #ffffff;
    --passive-color-2: #363636;
    --passive-color-3: #000000;
    --acent-color: #793d3d;
    --font-famaly: 'Roboto';
    --column-unit: 6vh;
    --column-mini-unit: ~"calc(var(--column-unit)*.66)";
}