#slide1.slide
	.slide-section.info-2
		
		h2.info-2__title.to-slide-top
			span Информация

		div.info-2__body

			.news-list
				section.news.news_imaged(style="background-image:url(/resources/img/photo/photo.jpg)")
					div
						h3 Набор на октябрь
						p Начался набор в группы Начался набор в группы Начался набор в группы Начался набор в группы
					.news__footer
						div 10 июня 2021 г.
						a читать дальше в VK

				section.news
					div
						h3 Спортивные выходные
						p Начался набор в группы Начался набор в группы Начался набор в группы Начался набор в группы
					.news__footer
						div 10 июня 2021 г.
						a читать дальше в VK

				section.news
					div
						h3 Спортивные выходные
						p Начался набор в группы Начался набор в группы Начался набор в группы Начался набор в группы
					.news__footer
						div 10 июня 2021 г.
						a читать дальше в VK

				section.promo
					div
						h3 Пробное занятие
						div
							div
								p Можно записаться на любой день можно записаться на любой день
							include ../../../parts/btns/cta-1-wide

		a(href="/#info-2rmaciya/1" title="Следующий слайд").next-btn.next-btn_invert