#slide1.slide(data-anchor="news")
	.slide-section.info-2.info-2_light
		
		h2.info-2__title.to-slide-top
			span Информация

		div.info-2__body.info-2__body_light

			.news-list.news-list_compact

				section.news.news_imaged(style="background-image:url(/resources/img/photo/fight.jpg)")
					.news__content
						.news__main
							header.news__title
								h3 Тренировочный процесс
							.news__body
								p Узнайте, как мы проводим тренировку в наших социальных сетях
						footer.news__footer
							div 14 октября 2022 г.
							a.news__more-link(href="https://t.me/shturmclub", target="_blank")
								span читать дальше в&nbsp;Telegram 
								include ../../../../resources/img/vector/icons/arrow-compact.svg

				section.news
					.news__content
						.news__main
							header.news__title
								h3 Объявляем открытый конкурс
							.news__body
								p Льготный абонемент при прохождении спортивного отбора 
						footer.news__footer
							div 24 октября 2022 г.
							a.news__more-link(href="https://t.me/shturmclub", target="_blank")
								span читать дальше в&nbsp;Telegram 
								include ../../../../resources/img/vector/icons/arrow-compact.svg

				section.news
					.news__content
						.news__main
							header.news__title
								h3 Что взять на тренировку?
							.news__body
								p Весь перечень необходимых вещей  для посещения бойцовского клуба
						footer.news__footer
							div 13 октября 2022 г.
							a.news__more-link(href="https://t.me/shturmclub", target="_blank")
								span читать дальше в&nbsp;Telegram 
								include ../../../../resources/img/vector/icons/arrow-compact.svg

				//- section.news
				//- 	.news__content
				//- 		.news__main
				//- 			header.news__title
				//- 				h3 Спортивные выходные
				//- 			.news__body
				//- 				p Начался набор в группы Начался набор в группы Начался набор в группы Начался набор в группы
				//- 		footer.news__footer
				//- 			div 10 июня 2021 г.
				//- 			a(href="/")
				//- 				span читать дальше в&nbsp;VK 
				//- 				include ../../../../resources/img/vector/icons/arrow-compact.svg

				section.promo
					.promo__content
						header.promo__title
							h3 Пробное занятие
						div.promo__body
							div.promo__text
								p Оставьте заявку, через форму или по&nbsp;телефону:
									nobr
										include ../../../parts/phone
							include ../../../parts/btns/cta-1-wide

		//- a(href="/#informaciya/form" title="Следующий слайд").next-btn.next-btn_invert