aside#popup.popup
	.side-icon.close-popup__container
		.close-popup
	article.popup__content
		header.popup__title
			h2 Александр Косьяненко
			p Исполнительный Директор
		div.popup__text
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean vitae massa. Cum sociis natoque penatibus et magnis dis parturient montes, vulputate eget, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium vitae quis, sem.
			p Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec arcu. In enim justo, rhoncus ut, imperdiet a, venenatis, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
			p Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies.
