.slide-section.about

	h2.side-title
		//- О&nbsp;клубе
		.part-1
			include ../../../resources/img/vector/about-part-1.svg
		.part-2
			include ../../../resources/img/vector/about-part-2.svg

	article.about__note
		h3 Наша Миссия
		p Бойцовский клуб Штурм и&nbsp;его основатели являются продолжателями культуры и&nbsp;духа школы боевых искусств СЭНЭ. Клуб в&nbsp;первую очередь — это синергия культивирования сильного уверенного, спортивного человека и&nbsp;воспитания культуры и&nbsp;духа.

	article.about__list
		h3 Кодекс чести школы СЭНЭ:
		ol.numb-list
			li
				span чти учителя, уважай старших и&nbsp;будь преданным Школе
			li
				span помоги Школе, и Школа поможет тебе
			li
				span не&nbsp;могут быть прощены предательство, трусость, подлость, двуличие
			li
				span не&nbsp;применяй свои знания в&nbsp;ущерб другому, помоги слабому
			li
				span не&nbsp;спрашивай сколько противников и&nbsp;какие они, спроси где они?
			li
				span сюда приходишь по желанию, но&nbsp;уходишь по&nbsp;решению товарищей
			li
				span инструктором Школы может стать лишь тот, для кого совершенствование своей души и&nbsp;тела является делом всей жизни

	a(title="Следующий слайд").next-btn